[Docker]
    [[bammatcher]]
        image = davelabhub/bammatcher:v1
        [[[bammatcher]]]
            resource_type   = bammatcher
            path            = /bam-matcher/bam-matcher.py
    [[bammatcher_reporter]]
        image = davelabhub/bammatcher_reporter:latest
        [[[bammatcher_reporter]]]
            resource_type   = bammatcher_reporter
            path            = bammatcher_reporter.py

[Path]

    [[ref]]
        resource_type = ref
        path = gs://davelab_data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa
    [[ref_dict]]
        resource_type = ref_dict
        path = gs://davelab_data/ref/human/hg38/gencode/v30/gatk/GRCh38.p12.genome.plus.ERCC.dict
    [[ref_idx]]
        resource_type = ref_idx
        path = gs://davelab_data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa.fai
    [[config]]
        resource_type = config
        path = gs://davelab_data/tools/bammatcher/bam-matcher.conf
    [[vcf]]
        resource_type = vcf
        path = gs://davelab_data/tools/bammatcher/af_dbSNP.vcf
