[bamsplitter_bamcombinator__dna]
	module=BamSplitter
	submodule=BamCombinator

[bammatcher_bammatcher__dna]
	module=Bammatcher
	submodule=Bammatcher
	docker_image=bammatcher

	input_from=bamsplitter_bamcombinator__dna

[bammatcher_bammatcherreporter__dna]
	module=Bammatcher
	submodule=BammatcherReporter
	docker_image=bammatcher_reporter

	input_from=bammatcher_bammatcher__dna

	final_output=relatedness_report

