[Docker]

    [[aggregate_normalized_gene_counts]]
        image = davelabhub/aggregatenormalizedgenecounts:v20200207
        [[[aggregate_normalized_gene_counts]]]
            resource_type   = aggregate_script
            path            = aggregate_normalized_gene_counts_CLI.R

    [[abc_gcb_plot]]
        image = davelabhub/abccbplot:v20200217
        [[[abc_gcb_plot_script]]]
            resource_type = abc_gcb_plot_script
            path          = multisample_dlbcl.Rscript

        [[[generic_plot_script]]]
            resource_type = generic_plot_script
            path          = multisample_generic.Rscript
