[utils_consolidatesamplename__tna]
    module      = Utils
    submodule   = ConsolidateSampleName

[merge_bam]
    module = MergeBams
    docker_image = samtools

[gatk_collectreadcounts__dna]
  module       = GATK
  submodule    = CollectReadCounts
  docker_image = gatk4
  input_from   = merge_bam, utils_consolidatesamplename__tna
  final_output = read_count_out
    [[args]]
      gatk_version = 4
      ref          = ref
      ref_dict     = ref_dict
      ref_idx      = ref_idx

[gatk_denoisereadcounts__dna]
  module       = GATK
  submodule    = DenoiseReadCounts
  docker_image = gatk4
  input_from   = gatk_collectreadcounts__dna
  final_output = std_copy_ratio, denoise_copy_ratio
    [[args]]
      gatk_version    = 4
      ref             = ref
      ref_dict        = ref_dict
      ref_idx         = ref_idx

[gatk_plotdenoisecopyratios__dna]
  module       = GATK
  submodule    = PlotDenoisedCopyRatios
  docker_image = gatk4
  input_from   = gatk_denoisereadcounts__dna
  final_output = denoised_plot, denoised_plot_lm4, std_mad, denoised_mad, delta_mad, scale_delta_mad
    [[args]]
      gatk_version    = 4
      ref             = ref
      ref_dict        = ref_dict
      ref_idx         = ref_idx

[gatk_modelsegments__dna]
  module       = GATK
  submodule    = ModelSegments
  docker_image = gatk4
  input_from   = gatk_denoisereadcounts__dna
  final_output = model_begin_seg, model_final_seg, cr_seg, model_begin_af_param, model_begin_cr_param, model_final_af_param, model_final_cr_param
    [[args]]
      gatk_version    = 4
      ref             = ref
      ref_dict        = ref_dict
      ref_idx         = ref_idx

[gatk_callcopyratiosegments__dna]
  module       = GATK
  submodule    = CallCopyRatioSegments
  docker_image = gatk4
  input_from   = gatk_modelsegments__dna
  final_output = seg_call
    [[args]]
      gatk_version    = 4
      ref             = ref
      ref_dict        = ref_dict
      ref_idx         = ref_idx

[gatk_plotmodeledsegments__dna]
  module       = GATK
  submodule    = PlotModeledSegments
  docker_image = gatk4
  input_from   = gatk_denoisereadcounts__dna, gatk_modelsegments__dna
  final_output = model_plot
    [[args]]
      gatk_version    = 4
      ref             = ref
      ref_dict        = ref_dict
      ref_idx         = ref_idx
