[Docker]
	[[delly]]
        image = davelabhub/delly:latest
        [[[delly]]]
            resource_type   = delly
            path            = delly
	[[lumpy]]
        image = davelabhub/lumpy-sv:latest
        [[[lumpy]]]
            resource_type   = lumpy
            path            = lumpy
    [[destruct]]
        image = davelabhub/destruct-sv:latest
        [[[destruct]]]
            resource_type   = destruct
            path            = destruct
    [[dellymerger]]
        image = davelabhub/dellymerger:latest
        [[[dellymerger]]]
            resource_type   = dellymerger
            path            = dellymerger
    [[lumpymerger]]
        image = davelabhub/lumpymerger:latest
        [[[lumpymerger]]]
            resource_type   = lumpymerger
            path            = lumpymerger
    [[destructmerger]]
        image = davelabhub/destructmerger:latest
        [[[destructmerger]]]
            resource_type   = destructmerger
            path            = destructmerger
    [[dellylumpydestructmerger]]
        image = davelabhub/dellylumpydestructmerger:latest
        [[[dellylumpydestructmerger]]]
            resource_type   = dellylumpydestructmerger
            path            = dellylumpydestructmerger

[Path]
    [[ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa*
    [[exclude_list]]
        resource_type   = exclude_list
        path            = gs://davelab_data/ref/human/hg38/human.hg38.excl.tsv