[samplesplitter_samplesplitter]
    module      = SampleSplitter
    submodule   = SampleSplitter
[filter_chrom_reads]
    module                      = Filter_chrom_reads
    submodule                   = Filter_chrom_reads
    docker_image                = filter_chrom_reads
    final_output                = filtered_bam
    input_from                  = samplesplitter_samplesplitter
[delly]
    module                      = Delly
    submodule                   = Delly
    docker_image                = delly
    final_output                = delly_vcf
    input_from                  = filter_chrom_reads
[lumpy]
    module                      = Lumpy
    submodule                   = Lumpy
    docker_image                = lumpy
    final_output                = lumpy_vcf, gt_vcf
    input_from                  = filter_chrom_reads
    [[args]]
        read_length             = 152
        discordant_z            = 5
        back_distance           = 10
        weight                  = 1
        min_mapping_threshold   = 20
[destruct]
    module                      = Destruct
    submodule                   = Destruct
    docker_image                = destruct
    final_output                = breaks, break_libs, break_reads
    input_from                  = filter_chrom_reads
[dellymerger]
    module                      = Dellymerger
    submodule                   = Dellymerger
    docker_image                = dellymerger
    final_output                = merged_vcf
    input_from					= delly
    [[args]]
        chr_switch              = 0
        chr_filter              = 0
[lumpymerger]
    module                      = Lumpymerger
    submodule                   = Lumpymerger
    docker_image                = lumpymerger
    final_output                = merged_vcf
    input_from					= lumpy
    [[args]]
        chr_switch              = 0
        chr_filter              = 0
[destructmerger]
    module                      = Destructmerger
    submodule                   = Destructmerger
    docker_image                = destructmerger
    final_output                = merged_vcf
    input_from					= destruct
    [[args]]
        chr_switch              = 0
        chr_filter              = 0
[Dellylumpydestructmerger]
    module                      = Dellylumpydestructmerger
    submodule                   = Dellylumpydestructmerger
    docker_image                = dellylumpydestructmerger
    final_output                = all_merged_vcf, all_merged_cons_vcf
    input_from					= dellymerger, lumpymerger, destructmerger
    [[args]]
        chr_filter              = 0
[Dellylumpydestruct_anno_merger]
    module                      = Dellylumpydestruct_anno_merger
    submodule                   = Dellylumpydestruct_anno_merger
    docker_image                = dellylumpydestruct_anno_merger
    input_from                  = Dellylumpydestructmerger
    final_output                = anno_vcf