[samplesplitter_samplesplitter]
    module      = SampleSplitter
    submodule   = SampleSplitter
[delly]
    module                      = Delly
    submodule                   = Delly
    docker_image                = delly
    final_output                = delly_vcf
    input_from                  = samplesplitter_samplesplitter
[lumpy]
    module                      = Lumpy
    submodule                   = Lumpy
    docker_image                = lumpy
    final_output                = lumpy_vcf, gt_vcf
    input_from                  = samplesplitter_samplesplitter
    [[args]]
        read_length             = 152
        discordant_z            = 5
        back_distance           = 10
        weight                  = 1
        min_mapping_threshold   = 20
[destruct]
    module                      = Destruct
    submodule                   = Destruct
    docker_image                = destruct
    final_output                = breaks, break_libs, break_reads
    input_from                  = samplesplitter_samplesplitter
[dellymerger]
    module                      = Dellymerger
    submodule                   = Dellymerger
    docker_image                = dellymerger
    final_output                = merged_vcf
    input_from					= delly
[lumpymerger]
    module                      = Lumpymerger
    submodule                   = Lumpymerger
    docker_image                = lumpymerger
    final_output                = merged_vcf
    input_from					= lumpy
[destructmerger]
    module                      = Destructmerger
    submodule                   = Destructmerger
    docker_image                = destructmerger
    final_output                = merged_vcf
    input_from					= destruct
[Dellylumpydestructmerger]
    module                      = Dellylumpydestructmerger
    submodule                   = Dellylumpydestructmerger
    docker_image                = dellylumpydestructmerger
    final_output                = all_merged_vcf, all_merged_cons_vcf
    input_from					= dellymerger, lumpymerger, destructmerger