[Docker]
	[[delly]]
        image = davelabhub/delly:latest
        [[[delly]]]
            resource_type   = delly
            path            = delly
	[[lumpy]]
        image = davelabhub/lumpy-sv:latest
        [[[lumpy]]]
            resource_type   = lumpy
            path            = lumpy
    [[destruct]]
        image = davelabhub/destruct-sv:latest
        [[[destruct]]]
            resource_type   = destruct
            path            = destruct
    [[dellymerger]]
        image = davelabhub/dellymerger:latest
        [[[dellymerger]]]
            resource_type   = dellymerger
            path            = dellymerger
    [[lumpymerger]]
        image = davelabhub/lumpymerger:latest
        [[[lumpymerger]]]
            resource_type   = lumpymerger
            path            = lumpymerger
    [[destructmerger]]
        image = davelabhub/destructmerger:latest
        [[[destructmerger]]]
            resource_type   = destructmerger
            path            = destructmerger
    [[dellylumpydestructmerger]]
        image = davelabhub/dellylumpydestructmerger:latest
        [[[dellylumpydestructmerger]]]
            resource_type   = dellylumpydestructmerger
            path            = dellylumpydestructmerger
    [[dellylumpydestruct_anno_merger]]
        image = davelabhub/dellylumpydestruct_anno_merger:latest
        [[[dellylumpydestruct_anno_merger]]]
            resource_type   = dellylumpydestruct_anno_merger
            path            = dellylumpydestruct_anno_merger

[Path]
    [[level1_bp]]
        resource_type   = level1_bp
        path            = gs://davelab_data/ref/naresh_sv/breakpoints_level_1.bed
    [[chr_names]]
        resource_type   = chr_names
        path            = gs://davelab_data/ref/naresh_sv/chr.txt
    [[dac_gap_blacklist]]
        resource_type   = dac_gap_blacklist
        path            = gs://davelab_data/ref/naresh_sv/final_black_list_hg38.bed
    [[repeat_blacklist]]
        resource_type   = repeat_blacklist
        path            = gs://davelab_data/ref/naresh_sv/hg38_repeat_masker.segmental_dups.sorted.bed
    [[paper_freq_pairs]]
        resource_type   = paper_freq_pairs
        path            = gs://davelab_data/ref/naresh_sv/mate_partner_genes_expanded_ig.txt
    [[bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/capture_baits/twist/maskPAR/Twist_10X_1Mb_panel_with_ERCCs.maskPAR.bed
    [[gtf]]
        resource_type   = gtf
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/gencode.v30.chr_patch_hapl_scaff.annotation.original.gtf
    [[ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa*
    [[exclude_list]]
        resource_type   = exclude_list
        path            = gs://davelab_data/ref/human/hg38/human.hg38.excl.tsv