[gatk_bedtointervallist__dna]
    module          = GATK
    submodule       = BedToIntervalList
    docker_image    = gatk4

    final_output    = interval_list

    [[args]]
        gatk_version    = 4
        ref             = ref
        ref_dict        = ref_dict
        ref_idx         = ref_idx
        bed             = target_bed

[samplesplitter_samplesplitter__dna]
    module          = SampleSplitter
    submodule       = SampleSplitter

[gatk_mutect2__dna]
    module          = GATK
    submodule       = Mutect2
    docker_image    = gatk4

    input_from      = gatk_bedtointervallist__dna, samplesplitter_samplesplitter__dna
    
    final_output    = vcf_gz, vcf_tbi, stats_table

    [[args]]
        gatk_version    = 4
        ref             = ref
        ref_dict        = ref_dict
        ref_idx         = ref_idx

[gatk_filtermutectcalls__dna]
    module          = GATK
    submodule       = FilterMutectCalls
    docker_image    = gatk4

    input_from      = gatk_mutect2__dna

    final_output    = vcf_gz, vcf_tbi

    [[args]]
        gatk_version    = 4
        ref             = ref
        ref_dict        = ref_dict
        ref_idx         = ref_idx
