[utils_consolidatesamplename__dna]

    module      = Utils
    submodule   = ConsolidateSampleName

[utils_gunzipvcf__dna]

    module      = Utils
    submodule   = GunzipVCF

[jacquard_jacquard__dna]

    module          = Jacquard
    submodule       = Jacquard
    docker_image    = jacquard

    input_from      = utils_gunzipvcf__dna, samplesplitter_samplesplitter

    final_output    = vcf
