[utils_consolidatesamplename__dna]

    module      = Utils
    submodule   = ConsolidateSampleName

[samplesplitter_samplesplitter]
    module      = SampleSplitter
    submodule   = SampleSplitter

    input_from  = utils_consolidatesamplename__dna

[utils_gunzipvcf__dna]

    module          = Utils
    submodule       = GunzipVCF
    docker_image    = gunzip

    input_from      = samplesplitter_samplesplitter

[jacquard_jacquard__dna]

    module          = Jacquard
    submodule       = Jacquard
    docker_image    = jacquard

    input_from      = utils_gunzipvcf__dna

    final_output    = vcf
