[utils_consolidatesamplename__tna]
    module              = Utils
    submodule           = ConsolidateSampleName
[merge_bam]
    module              = MergeBams
    docker_image        = samtools
[utils_bgzipbed__tna]
    module              = Utils
    submodule           = BGZipBED
    docker_image        = bgzip
    [[args]]
        bed             = padded_target_bed
[utils_indexbed__tna]
    module              = Utils
    submodule           = IndexBED
    docker_image        = tabix
    input_from          = utils_bgzipbed__tna
[strelka2__dna]
    module              = Strelka2
    submodule           = Strelka2
    docker_image        = strelka2
    input_from          = utils_bgzipbed__tna, utils_indexbed__tna, merge_bam, utils_consolidatesamplename__tna
    final_output        = vcf_gz, vcf_tbi
    [[args]]
        ref             = ref
[utils_gunzipvcf__strelka2__dna]
    module              = Utils
    submodule           = GunzipVCF
    docker_image        = gunzip
    input_from          = strelka2__dna
[bcftools_bcftoolsnorm__strelka2__dna]
    module              = Bcftools
    submodule           = BCFToolsNorm
    docker_image        = bcftools
    input_from          = utils_gunzipvcf__strelka2__dna
    final_output        = vcf
    [[args]]
        ref             = ref
[annovar__strelka2__dna]
    module              = Annovar
    input_from          = bcftools_bcftoolsnorm__strelka2__dna
    final_output        = vcf
    [[args]]
        dbdir           = /ref/annovar/humandb
        operations      = "g,r,f,f,f,f,f,f,f,f,f,f,f,f"
        protocol        = "refGene,genomicSuperDups,exac03,gnomad211_exome,gnomad30_genome,avsnp150,esp6500siv2_all,1000g2015aug_all,cosmic91_coding,cosmic91_noncoding,dbnsfp35a,cadd16gt10,nci60,clinvar_20200316"
        buildver        = hg38
[utils_recodevcf__strelka2__dna]
    module              = Utils
    submodule           = RecodeVCF
    docker_image        = pipeline_tools
    input_from          = annovar__strelka2__dna
    final_output        = recoded_vcf
    [[args]]
        nr_cpus         = 8
        mem             = 30
[deepvariant__dna]
    module              = DeepVariant
    submodule           = DeepVariant
    docker_image        = deepvariant
    input_from          = merge_bam, utils_consolidatesamplename__tna
    final_output        = gvcf_gz, vcf_gz, gvcf_tbi, vcf_tbi
    [[args]]
        bed             = padded_target_bed
        ref             = ref
[utils_gunzipvcf__deepvariant__dna]
    module              = Utils
    submodule           = GunzipVCF
    docker_image        = gunzip
    input_from          = deepvariant__dna
[bcftools_bcftoolsnorm__deepvariant__dna]
    module              = Bcftools
    submodule           = BCFToolsNorm
    docker_image        = bcftools
    input_from          = utils_gunzipvcf__deepvariant__dna
    final_output        = vcf
    [[args]]
        ref             = ref
[annovar__deepvariant__dna]
    module              = Annovar
    input_from          = bcftools_bcftoolsnorm__deepvariant__dna
    final_output        = vcf
    [[args]]
        dbdir           = /ref/annovar/humandb
        operations      = "g,r,f,f,f,f,f,f,f,f,f,f,f,f"
        protocol        = "refGene,genomicSuperDups,exac03,gnomad211_exome,gnomad30_genome,avsnp150,esp6500siv2_all,1000g2015aug_all,cosmic91_coding,cosmic91_noncoding,dbnsfp35a,cadd16gt10,nci60,clinvar_20200316"
        buildver        = hg38
[utils_recodevcf__deepvariant__dna]
    module              = Utils
    submodule           = RecodeVCF
    docker_image        = pipeline_tools
    input_from          = annovar__deepvariant__dna
    final_output        = recoded_vcf
    [[args]]
        nr_cpus         = 8
        mem             = 30
[gatk_bedtointervallist__paddedontarget__tna]
    module              = GATK
    submodule           = BedToIntervalList
    docker_image        = gatk4
    [[args]]
        gatk_version    = 4
        bed             = padded_target_bed
        ref             = ref
        ref_idx         = ref_idx
        ref_dict        = ref_dict
[gatk_haplotypecaller__vcf__dna]
    module              = GATK
    submodule           = HaplotypeCaller
    docker_image        = gatk4
    input_from          = gatk_bedtointervallist__paddedontarget__tna, utils_consolidatesamplename__tna, merge_bam
    final_output        = vcf_gz, vcf_idx
    [[args]]
        gatk_version    = 4
        ref             = ref
        ref_dict        = ref_dict
        ref_idx         = ref_idx
        output_type     = vcf
[utils_gunzipvcf__haplotypecaller__dna]
    module              = Utils
    submodule           = GunzipVCF
    docker_image        = gunzip
    input_from          = gatk_haplotypecaller__vcf__dna
[bcftools_bcftoolsnorm__haplotypecaller__dna]
    module              = Bcftools
    submodule           = BCFToolsNorm
    docker_image        = bcftools
    input_from          = utils_gunzipvcf__haplotypecaller__dna
    final_output        = vcf
    [[args]]
        ref             = ref
[annovar__haplotypecaller__dna]
    module              = Annovar
    input_from          = bcftools_bcftoolsnorm__haplotypecaller__dna
    final_output        = vcf
    [[args]]
        dbdir           = /ref/annovar/humandb
        operations      = "g,r,f,f,f,f,f,f,f,f,f,f,f,f"
        protocol        = "refGene,genomicSuperDups,exac03,gnomad211_exome,gnomad30_genome,avsnp150,esp6500siv2_all,1000g2015aug_all,cosmic91_coding,cosmic91_noncoding,dbnsfp35a,cadd16gt10,nci60,clinvar_20200316"
        buildver        = hg38
[utils_recodevcf__haplotypecaller__dna]
    module              = Utils
    submodule           = RecodeVCF
    docker_image        = pipeline_tools
    input_from          = annovar__haplotypecaller__dna
    final_output        = recoded_vcf
    [[args]]
        nr_cpus         = 8
        mem             = 30
[purity]
    module              = Purity
    submodule           = Purity
    input_from          = strelka2__dna, deepvariant__dna, gatk_haplotypecaller__vcf__dna
    docker_image        = purity
    final_output        = purity_estimate

[variantfiltering]
    module              = VariantFiltering
    submodule           = VariantFiltering
    input_from          = annovar__strelka2__dna, annovar__haplotypecaller__dna, annovar__deepvariant__dna
    docker_image        = variantfiltering
    final_output        = all_variants, filt_variants, wl_variants, single_sample_merge 

[igv_snapshot]
    module              = IGV_Snapshot
    submodule           = IGV_Snapshot
    input_from          = variantfiltering
    docker_image        = igv_snapshot
    final_output        = igv_snapshot_dir
    [[args]]
        bed             = bed