[Docker]
    [[hlala]]
        image = davelabhub/hla-la:latest
        [[[hlala]]]
            resource_type   = hla-la
            path            = HLA-LA.pl

[Path]
    [[reference_genome]]
	resource_type = ref
	path = gs://miko-hla-la/GRCh38.p12.genome.plus.ERCC.HLA/GRCh38.p12.genome.plus.ERCC.HLA.fa
    [[graph]]
	resource_type = graph
	path = gs://miko-hla-la/PRG_MHC_GRCh38_withIMGT/
    [[additional_ref]]
        resource_type = additional_ref
        path = gs://miko-hla-la/ERCC_HLA.txt
