[gatk_bedtointervallist__dna]
    module          = GATK
    submodule       = BedToIntervalList
    docker_image    = gatk4
    final_output    = interval_list
        [[args]]
            gatk_version    = 4
            ref             = ref
            ref_dict        = ref_dict
            ref_idx         = ref_idx
            bed             = target_bed

[samplesplitter_samplesplitter__dna]
    module          = SampleSplitter
    submodule       = SampleSplitter

[utils_getsamplefrombamheader__dna]
    module          = Utils
    submodule       = GetSampleFromBAMHeader

[gatk_mutect2__dna]
    module          = GATK
    submodule       = Mutect2
    docker_image    = gatk4
    input_from      = utils_getsamplefrombamheader__dna, gatk_bedtointervallist__dna, samplesplitter_samplesplitter__dna
    final_output    = vcf_gz, vcf_tbi
        [[args]]
            gatk_version    = 4
            ref             = ref
            ref_dict        = ref_dict
            ref_idx         = ref_idx

[gatherers_gathervcfs__dna]
    module          = Gatherers
    submodule       = GatherVCFs

    input_from      = gatk_mutect2__dna

[gatk_genomicsdbimport__dna]
    module          = GATKMergers
    submodule       = GenomicsDBImport
    docker_image    = gatk4
    input_from      = gatherers_gathervcfs__dna, gatk_bedtointervallist__dna
    final_output    = genomicsDB
        [[args]]
            gatk_version    = 4
            ref             = ref
            ref_dict        = ref_dict
            ref_idx         = ref_idx

[gatk_createsomaticpanelofnormals__dna]
    module          = GATK
    submodule       = CreateSomaticPanelOfNormals
    docker_image    = gatk4
    input_from      = gatk_genomicsdbimport__dna
    final_output    = pon_vcf_gz, pon_vcf_tbi
        [[args]]
            gatk_version    = 4
            ref             = ref
            ref_dict        = ref_dict
            ref_idx         = ref_idx
