[Docker]

    [[cutadapt]]
        image = quay.io/biocontainers/cutadapt:2.3--py37h14c3975_0
        [[[cutadapt]]]
            resource_type = cutadapt
            path          = cutadapt

        pipeline  = tna

    [[fastqc]]
        image = quay.io/biocontainers/fastqc:0.11.8--1
        [[[fastqc]]]
            resource_type   = fastqc
            path            = fastqc

        pipeline  = dna, rna, tna

    [[trimmomatic]]
        image = quay.io/biocontainers/trimmomatic:0.39--1
        [[[trimmomatic]]]
            resource_type   = trimmomatic
            path            = trimmomatic

        pipeline  = dna, rna, tna

    [[bwa]]
        image = davelabhub/bwa_samtools:20190123
        [[[bwa]]]
            resource_type = bwa
            path          = bwa
        [[[samtools]]]
            resource_type = samtools
            path          = samtools

        pipeline = dna, tna

    [[star]]
        image = quay.io/biocontainers/star:2.7.1a--0
        [[[star]]]
            resource_type   = star
            path            = STAR

        pipeline = rna, tna

    [[picard]]
        image = quay.io/biocontainers/picard:2.20.2--0
        [[[picard]]]
            resource_type   = picard
            path            = picard

        pipeline  = dna, rna, tna

    [[rsem]]
        image = quay.io/biocontainers/rsem:1.3.2--pl526r351hc0aa232_0
        [[[rsem]]]
            resource_type   = rsem
            path            = rsem-calculate-expression

        pipeline = rna, tna

    [[gatk4]]
        image = broadinstitute/gatk:4.1.2.0
        [[[gatk4]]]
            resource_type   = gatk
            path            = gatk.jar
        [[[java]]]
            resource_type   = java
            path            = java

        pipeline  = dna, rna, tna

    [[gatk3]]
        image = broadinstitute/gatk3:3.8-1
        [[[gatk3]]]
            resource_type   = gatk
            path            = GenomeAnalysisTK.jar
        [[[java]]]
            resource_type   = java
            path            = java

        pipeline  = dna, rna, tna

    [[samtools]]
        image = quay.io/biocontainers/samtools:1.9--h8571acd_11
        [[[samtools]]]
            resource_type   = samtools
            path            = samtools

        pipeline  = dna, rna, tna

    [[bedtools]]
        image = quay.io/biocontainers/bedtools:2.28.0--hdf88d34_0
        [[[bedtools]]]
            resource_type   = bedtools
            path            = bedtools

        pipeline  = dna, rna, tna

    [[mosdepth]]
        image = quay.io/biocontainers/mosdepth:0.2.5--hb763d49_0
        [[[mosdepth]]]
            resource_type = mosdepth
            path          = mosdepth

        pipeline  = dna, rna, tna

    [[bcftools]]
        image = quay.io/biocontainers/1.9--ha228f0b_4
        [[[bcftools]]]
            resource_type = bcftools
            path = bcftools

        pipeline  = dna, tna

    [[snpsift]]
        image = davelabhub/snpsift:4.3.1t--1
        [[[snpsift]]]
            resource_type = snpsift
            path = SnpSift.jar

        pipeline  = dna, tna

    [[qcparser]]
        image = davelabhub/qcparser:latest
        [[[qcparser]]]
            resource_type   = qc_parser
            path            = QCParser.py

        pipeline  = dna, rna, tna

    [[aggregate_raw_read_counts]]
        image = davelabhub/aggregaterawreadcounts:v.20180710
        [[[read_counts]]]
            resource_type   = aggregate
            path            = aggregate_raw_read_counts_CLI.R

        pipeline  = rna, tna

    [[aggregate_rsem_results]]
        image = davelabhub/aggregatersemresults:20180710
        [[[rsem_results]]]
            resource_type   = aggregate_rsem_results_script
            path            = aggregate_rsem_results_CLI.R

        pipeline  = rna, tna

    [[combine_exp_gene_name]]
        image = davelabhub/combineexpressionwithgenemetadata:20180710
        [[[combine_exp_gene_name]]]
            resource_type   = combine_script
            path            = generate_expression_matrix_CLI.R

        pipeline  = rna, tna

    [[pipeline_tools]]
        image = davelabhub/pipeline-tools:latest
        [[[recode_vcf]]]
            resource_type = recode_vcf
            path = RecodeVCF.py
        [[[cat_recoded_vcf]]]
            resource_type = cat_recoded_vcf
            path = CatRecodedVCF.py

        pipeline  = dna, tna

[Path]

    [[demux_script]]
        resource_type = tna_demux_script
        path          = gs://davelab_data/tools/tna_single_sample_preprocessing.sh
        pipeline      = tna

    [[rrna_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/ucsc/annotation/ucsc_rRNA.sorted.merged.bed
        pipeline        = dna, rna, tna

    [[exome_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v29/annotation/gencode.v29.primary_assembly.exons.bed
        pipeline        = dna, rna, tna

    [[utr_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v29/annotation/gencode.v29.primary_assembly.utrs.bed
        pipeline        = dna, rna, tna

    [[intron_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v29/annotation/gencode.v29.primary_assembly.introns.bed
        pipeline        = dna, rna, tna

    [[intergenic_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v29/annotation/gencode.v29.primary_assembly.intergenic.bed
        pipeline        = dna, rna, tna

    [[mirna_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v29/annotation/gencode.v29.primary_assembly.miRNA.bed
        pipeline        = dna, rna, tna

    [[lincrna_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v29/annotation/gencode.v29.primary_assembly.lincRNA.bed
        pipeline        = dna, rna, tna

    [[adapters]]
        resource_type   = adapters
        path            = gs://davelab_data/tools/Trimmomatic_0.36/adapters/adapters.fa
        pipeline        = dna, rna, tna

    [[star_genome_dir]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v29/star_target
        pipeline        = rna, tna

    [[ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v29/GRCh38.primary_assembly.genome.fa*
        pipeline        = dna, rna, tna

    [[ref_idx]]
        resource_type   = ref_idx
        path            = gs://davelab_data/ref/human/hg38/gencode/v29/GRCh38.primary_assembly.genome.fa.fai
        pipeline        = dna, rna, tna

    [[ref_dict]]
        resource_type   = ref_dict
        path            = gs://davelab_data/ref/human/hg38/gencode/v29/gatk4/GRCh38.primary_assembly.genome.dict
        pipeline        = dna, rna, tna

    [[classifier_ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/classification/DLBCL/1kdlbcl_counts_fpkm_norm_1MB_gene_panel.Rdata
        pipeline        = rna, tna

    [[gtf]]
        resource_type   = gtf
        path            = gs://davelab_data/ref/human/hg38/gencode/v29/annotation/gencode.v29.primary_assembly.annotation.gtf
        pipeline        = dna, rna, tna

    [[rsem_ref]]
        resource_type   = rsem_ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v29/rsem/GRCh38.gencode_v29.primary_assembly*
        pipeline        = rna, tna

    [[on_target_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/capture_baits/Twist_10X_1Mb_panel_primary_chrom.bed
        pipeline        = dna, rna, tna

    [[on_target_exome_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/capture_baits/1Mb_panel_exonic_primary_chrom.bed
        pipeline        = dna, rna, tna

    [[pon]]
        resource_type   = pon
        path            = gs://davelab_data/ref/human/hg38/pon/twist/1MB/burkitt.pon.hdf5
        pipeline        = dna, tna

    [[processed_interval_list]]
        resource_type   = interval_list
        path            = gs://davelab_data/ref/human/hg38/pon/twist/1MB/Twist_10X_1Mb_panel_primary_chrom_processed_inteval.list
        pipeline        = dna, tna

    [[dbsnp]]
        resource_type   = dbsnp
        path            = gs://davelab_data/ref/human/hg38/gencode/v29/gatk4/Sorted.All_20180418.vcf*
        pipeline        = dna, tna

    [[annovar]]
        resource_type   = annovar
        path            = /ref/annovar/table_annovar.pl
        pipeline        = dna, tna

    [[perl]]
        resource_type   = perl
        path            = /usr/bin/perl
        pipeline        = dna, tna
