[mergernaseq_aggregatesalmonreadcounts__raw__rna]
    module          = MergeRNAseq
    submodule       = AggregateSalmonReadCounts
    docker_image    = aggregate_salmon_read_counts

    final_output    = expression_file

    [[args]]
        count_type  = raw_counts

[mergernaseq_aggregatesalmonreadcounts__normalize__rna]
    module          = MergeRNAseq
    submodule       = AggregateSalmonReadCounts
    docker_image    = aggregate_salmon_read_counts

    final_output    = expression_file

    [[args]]
        count_type  = normalized_counts
