[trimmomatic]
    module          = Trimmomatic
    submodule       = Trimmomatic
    docker_image    = trimmomatic
    final_output    = R1, R2
[fusioncatcher]
    module          = Fusioncatcher
    submodule       = Fusioncatcher
    docker_image    = fusioncatcher
    final_output    = fusion_genes
    input_from      = trimmomatic