[Docker]
    [[fusioncatcher]]
        image = davelabhub/fusioncatcher:latest
        [[[fusioncatcher]]]
            resource_type   = fusioncatcher
            path            = fusioncatcher
    [[trimmomatic]]
        image = davelabhub/trimmomatic:0.39--1
        [[[trimmomatic]]]
            resource_type   = trimmomatic
            path            = trimmomatic

[Path]
    [[adapters]]
        resource_type   = adapters
        path            = gs://davelab_data/tools/Trimmomatic_0.36/adapters/adapters.fa