[Docker]
    [[fusioncatcher]]
        image = davelabhub/fusioncatcher:latest
        [[[fusioncatcher]]]
            resource_type   = fusioncatcher
            path            = fusioncatcher
    [[trimmomatic]]
        image = davelabhub/trimmomatic:0.39--1
        [[[trimmomatic]]]
            resource_type   = trimmomatic
            path            = trimmomatic
