[gatk_bedtointervallist__dna]
    module          = GATK
    submodule       = BedToIntervalList
    docker_image    = gatk4
    final_output    = interval_list
        [[args]]
            gatk_version    = 4
            ref             = ref
            ref_dict        = ref_dict
            ref_idx         = ref_idx
            bed             = target_bed

[gatk_preprocessintervals__dna]
    module          = GATK
    submodule       = PreprocessIntervals
    docker_image    = gatk4
    input_from      = gatk_bedtointervallist__dna
    final_output    = interval_list
        [[args]]
            gatk_version    = 4
            ref             = ref
            ref_dict        = ref_dict
            ref_idx         = ref_idx

[samplesplitter_samplesplitter]
    module          = SampleSplitter
    submodule       = SampleSplitter

[gatk_collectreadcounts__dna]
    module          = GATK
    submodule       = CollectReadCounts
    docker_image    = gatk4
    input_from      = gatk_preprocessintervals__dna, samplesplitter_samplesplitter
    final_output    = read_count_out
        [[args]]
            gatk_version    = 4
            ref             = ref
            ref_dict        = ref_dict
            ref_idx         = ref_idx

[gatk_createreadcountpanelofnormals__dna]
    module          = GATKMergers
    submodule       = CreateReadCountPanelOfNormals
    docker_image    = gatk4
    input_from      = gatk_collectreadcounts__dna
    final_output    = pon
        [[args]]
            gatk_version    = 4
            ref             = ref
            ref_dict        = ref_dict
            ref_idx         = ref_idx
