[utils_concatfastq__tna]
    module      = Utils
    submodule   = ConcatFastq

[demuxtna__tna]
    module          = DemuxTNA
    docker_image    = cutadapt

    input_from      = utils_concatfastq__tna

    final_output    = demux_stats

    [[args]]
        barcodes = ****inline_barcodes

[gatk_bedtointervallist__ontarget__tna]
    module       = GATK
    submodule    = BedToIntervalList
    docker_image = gatk4

    [[args]]
        gatk_version    = 4
        bed             = target_bed
        ref             = ref

[gatk_bedtointervallist__ontargetexome__tna]
    module       = GATK
    submodule    = BedToIntervalList
    docker_image = gatk4

    [[args]]
        gatk_version    = 4
        bed             = target_exonic_bed
        ref             = ref

####################### RNA Section
[utils_getdemuxfastq__rnafastqs__tna]
    module          = Utils
    submodule       = GetDemuxFASTQ

    input_from      = demuxtna__tna

    final_output    = R1, R2

    [[args]]
        keep_assay_type = RNA

[fastqc__raw__rna]
    module          = FastQC
    docker_image    = fastqc

    input_from      = utils_getdemuxfastq__rnafastqs__tna

    final_output    = R1_fastqc, R2_fastqc

[trimmomatic__rna]
    module          = Trimmomatic
    docker_image    = trimmomatic

    input_from      = utils_getdemuxfastq__rnafastqs__tna

    final_output    = trim_report

    [[args]]
        MINLEN  = 25

[fastqc__trim__rna]
    module          = FastQC
    docker_image    = fastqc

    input_from      = trimmomatic__rna

    final_output    = R1_fastqc, R2_fastqc

[utils_getreadgroup__rna]
    module          = Utils
    submodule       = GetReadGroup

    input_from      = trimmomatic__rna

[star__rna]
    module          = Star
    docker_image    = star

    input_from      = fastqc__trim__rna, utils_getreadgroup__rna

    final_output    = transcriptome_mapped_bam, raw_read_counts, final_log

    [[args]]
        ref     = star_ref

[samtools_index__star__rna]
    module          = Samtools
    submodule       = Index
    docker_image    = samtools

    input_from      = star__rna

    final_output    = bam_idx

[picard_markduplicates__rna]
    module          = Picard
    submodule       = MarkDuplicates
    docker_image    = picard

    input_from      = star__rna, samtools_index__rna

    final_output    = bam

[samtools_index__picard_markduplicates__rna]
    module          = Samtools
    submodule       = Index
    docker_image    = samtools

    input_from      = picard_markduplicates__rna

    final_output    = bam_idx

[rsem__rna]
    module          = RSEM
    docker_image    = rsem

    input_from      = star__rna

    final_output    = isoforms_results, genes_results

[utils_combineexpressionwithmetadata__rawcounts__rna]
    module          = Utils
    submodule       = CombineExpressionWithMetadata
    docker_image    = combine_exp_gene_name

    input_from      = star__rna

    final_output    = annotated_expression_file
        [[args]]
            result_type = "rawcounts"

[utils_combineexpressionwithmetadata__rsem__rna]
    module          = Utils
    submodule       = CombineExpressionWithMetadata
    docker_image    = combine_exp_gene_name

    input_from      = rsem__rna

    final_output    = annotated_expression_file
        [[args]]
            result_type = "rsem"

###### RNA Section QC
[samtools_flagstat__rna]
    module          = Samtools
    submodule       = Flagstat
    docker_image    = samtools

    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    final_output    = flagstat

[picard_collectinsertsizematrics__rna]
    module          = Picard
    submodule       = CollectInsertSizeMetrics
    docker_image    = picard

    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    final_output    = insert_size_report, insert_size_histogram

[samtools_view__countreads__rna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    [[args]]
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[samtools_view__exonoverlap__rna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    [[args]]
        bed             = exonic_bed
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[samtools_view__intronoverlap__rna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    [[args]]
        bed             = intron_bed
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[samtools_view__intergenicoverlap__rna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    [[args]]
        bed             = intergenic_bed
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[samtools_view__utroverlap__rna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    [[args]]
        bed             = utr_bed
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[samtools_view__mirnaoverlap__rna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    [[args]]
        bed             = mirna_bed
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[samtools_view__rrnaoverlap__rna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    [[args]]
        bed             = rrna_bed
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[samtools_view__lincrnaoverlap__rna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    [[args]]
        bed             = lincrna_bed
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[samtools_view__ontargetoverlap__rna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    [[args]]
        bed             = target_bed
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[gatk_depthofcoverage__ontargetcoverage__rna]
    module       = GATK
    submodule    = DepthOfCoverage
    docker_image = gatk3
    input_from   = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna, gatk_bedtointervallist__ontarget__tna

    final_output = per_base_summary, interval_summary, interval_statistics, sample_summary, sample_statistics, cumulative_coverage_counts, cumulative_coverage_proportions

    [[args]]
        gatk_version = 3
        ref          = ref
        ref_dict     = ref_dict
        ref_idx      = ref_idx

[gatk_depthofcoverage__ontargetexoncoverage__rna]
    module       = GATK
    submodule    = DepthOfCoverage
    docker_image = gatk3
    input_from   = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna, gatk_bedtointervallist__ontargetexome__tna

    final_output = per_base_summary, interval_summary, interval_statistics, sample_summary, sample_statistics, cumulative_coverage_counts, cumulative_coverage_proportions

    [[args]]
        gatk_version = 3
        ref          = ref
        ref_dict     = ref_dict
        ref_idx      = ref_idx

###### RNA Section QCParser
[qcparser_demuxtnastats__tna]
    module          = QCParser
    submodule       = DemuxTNAStats
    docker_image    = qcparser

    input_from      = demuxtna__tna

[qcparser_fastqc__rawfastqc__rna]
    module          = QCParser
    submodule       = FastQC
    docker_image    = qcparser

    input_from      = fastqc__raw__rna

    [[args]]
        note = "rna fastqc report parsing for raw fastqs"

[qcparser_fastqc__trimfastqc__rna]
    module          = QCParser
    submodule       = FastQC
    docker_image    = qcparser

    input_from      = fastqc__trim__rna

    [[args]]
    note = "rna fastqc report parsing for trimmed fastqs"

[qcparser_trimmomatic__rna]
    module          = QCParser
    submodule       = Trimmomatic
    docker_image    = qcparser

    input_from      = trimmomatic__rna

    [[args]]
        note = "rna trimmomatic summary report parsing"

[qcparser_samtoolsflagstat__rna]
    module          = QCParser
    submodule       = SamtoolsFlagstat
    docker_image    = qcparser

    input_from      = samtools_flagstat__rna

    [[args]]
        note = "rna star alignment summary report parsing"

[qcparser_picardinsertsizematrics__rna]
    module          = QCParser
    submodule       = PicardInsertMetrics
    docker_image    = qcparser

    input_from      = picard_collectinsertsizematrics__rna

    [[args]]
        note = "rna picard insert size summary report parsing"

[qcparser_samtoolscountreads__rna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__countreads__rna

    [[args]]
        note = "rna read counts mapped to the genome"

[qcparser_samtoolscountreads__ontarget__rna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__countreads__rna

    [[args]]
        note = "rna on target read counts mapped to the genome"

[qcparser_samtoolscountreads__exon__rna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__exonoverlap__rna

    [[args]]
        note = "rna exon read counts mapped to the genome"

[qcparser_samtoolscountreads__intron__rna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__intronoverlap__rna

    [[args]]
        note = "rna intron read counts mapped to the genome"

[qcparser_samtoolscountreads__intergenic__rna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__intergenicoverlap__rna

    [[args]]
        note = "rna intergenic read counts mapped to the genome"

[qcparser_samtoolscountreads__utr__rna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__utroverlap__rna

    [[args]]
        note = "rna utr read counts mapped to the genome"

[qcparser_samtoolscountreads__mirna__rna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__mirnaoverlap__rna

    [[args]]
        note = "rna miRNA read counts mapped to the genome"

[qcparser_samtoolscountreads__rrna__rna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__rrnaoverlap__rna

    [[args]]
        note = "rna rRNA read counts mapped to the genome"

[qcparser_samtoolscountreads__lincrna__rna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__lincrnaoverlap__rna

    [[args]]
        note = "rna lincRNA read counts mapped to the genome"

[qcparser_docsamplesummarystats__rna]
    module          = QCParser
    submodule       = DOCSampleSummaryStats
    docker_image    = qcparser

    input_from      = gatk_depthofcoverage__ontargetcoverage__rna

    [[args]]
        note = "rna on target depth of coverage stats"

[qcparser_docintervalsummarystats__rna]
    module          = QCParser
    submodule       = DOCIntervalSummaryStats
    docker_image    = qcparser

    input_from      = gatk_depthofcoverage__ontargetexoncoverage__rna

    [[args]]
        note = "rna on target exon depth of coverage stats"

[qcreportmerger_cbind__rna]
    module          = QCReportMerger
    submodule       = Cbind
    docker_image    = qcparser

    input_from      = qcparser_demuxtnastats__tna, qcparser_fastqc__rawfastqc__rna, qcparser_fastqc__trimfastqc__rna, qcparser_trimmomatic__rna, qcparser_samtoolsflagstat__rna, qcparser_picardinsertsizematrics__rna, qcparser_samtoolscountreads__exon__rna, qcparser_samtoolscountreads__intron__rna, qcparser_samtoolscountreads__intergenic__rna, qcparser_samtoolscountreads__utr__rna, qcparser_samtoolscountreads__mirna__rna, qcparser_samtoolscountreads__rrna__rna, qcparser_samtoolscountreads__lincrna__rna, qcparser_docsamplesummarystats__rna, qcparser_docintervalsummarystats__rna, qcparser_samtoolscountreads__rna, qcparser_samtoolscountreads__ontarget__rna

################## EXOME GRAPH
[utils_getdemuxfastq__dnafastqs__tna]
    module          = Utils
    submodule       = GetDemuxFASTQ

    input_from      = demux

    final_output    = R1, R2

    [[args]]
        keep_assay_type = DNA

[fastqc__raw__dna]
    module          = FastQC
    docker_image    = fastqc

    input_from      = utils_getdemuxfastq__dnafastqs__tna

    final_output    = R1_fastqc, R2_fastqc

[trimmomatic__dna]
    module          = Trimmomatic
    docker_image    = trimmomatic

    input_from      = utils_getdemuxfastq__dnafastqs__tna

    final_output    = trim_report

    [[args]]
        MINLEN  = 25

[fastqc__trim__dna]
    module          = FastQC
    docker_image    = fastqc

    input_from      = trimmomatic__dna

    final_output    = R1_fastqc, R2_fastqc

[utils_getreadgroup__dna]
    module = Utils
    submodule = GetReadGroup

    input_from = trimmomatic__dna

[bwaaligner__dna]
    module = BwaAligner
    docker_image = bwa

    input_from = trimmomatic__dna, utils_getreadgroup__dna

    [[args]]
        ref = ref

[samtools_index__bwaaligner__dna]
    module = Samtools
    submodule = Index
    docker_image = samtools

    input_from = bwaaligner__dna

[picard_markduplicates__dna]
    module = Picard
    submodule = MarkDuplicates
    docker_image = picard

    input_from = bwaaligner__dna, samtools_index__bwaaligner__dna

    final_output = bam

[samtools_index__picard_markduplicates__dna]
    module = Samtools
    submodule = Index
    docker_image = samtools

    input_from = mrkdup

    final_output = bam_idx

[gatk_haplotypecaller__dna]
    module = GATK
    submodule = HaplotypeCaller
    docker_image = gatk4

    input_from = picard_markduplicates__dna, samtools_index__picard_markduplicates__dna

    final_output = vcf, vcf_idx

    [[args]]
        gatk_version = 4
        ref = ref
        ref_dict = ref_dict
        ref_idx = ref_idx
        output_type = vcf
        bed = target_bed

[bcftools_bcftoolsnorm__dna]
    module = Bcftools
    submodule = BCFToolsNorm
    docker_image = bcftools

    input_from = gatk_haplotypecaller__dna

    final_output = vcf

    [[args]]
        ref = ref

[annovar__dna]
    module          = Annovar

    input_from      = bcftools_bcftoolsnorm__dna

    final_output    = vcf

    [[args]]
        dbdir   = "/ref/annovar/humandb"
        operations = "g,r,f,f,f,f,f,f,f,f,f,f,f,f"
        protocol = "refGene,genomicSuperDups,exac03,gnomad_exome,gnomad_genome,avsnp150,esp6500siv2_all,1000g2015aug_all,cosmic87_coding,cosmic87_noncoding,dbnsfp35a,cadd14gt10,nci60,clinvar_20180603"
        buildver = "hg38"

[utils_recodevcf__dna]
    module = Utils
    submodule = RecodeVCF
    docker_image = pipeline_tools

    input_from = annovar__dna

    final_output = recoded_vcf

[variantfilter__dna]
    module          = VariantFilter
    docker_image    = variant_filter

    input_from      = utils_recodevcf__dna
    final_output    = filter_variants_text, filter_variants_json, subset_filter_variants_text

### TODO: Add meta-script here

###### DNA Section QC
[samtools_flagstat__dna]
    module =  Samtools
    submodule = Flagstat
    docker_image = samtools

    input_from = picard_markduplicates__dna, samtools_index__picard_markduplicates__dna

    final_output = flagstat

[picard_collectinsertsizematrics__dna]
    module = Picard
    submodule = CollectInsertSizeMetrics
    docker_image = picard

    input_from = picard_markduplicates__dna, samtools_index__picard_markduplicates__dna

    final_output = insert_size_report, insert_size_histogram

[samtools_view__countreads__dna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__dna, samtools_index__picard_markduplicates__dna

    [[args]]
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[samtools_view__exonoverlap__dna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__dna, samtools_index__picard_markduplicates__dna

    [[args]]
        bed             = exome_bed
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[samtools_view__intronoverlap__dna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__dna, samtools_index__picard_markduplicates__dna

    [[args]]
        bed             = intron_bed
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[samtools_view__intergenicoverlap__dna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__dna, samtools_index__picard_markduplicates__dna

    [[args]]
        bed             = intergenic_bed
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[samtools_view__utroverlap__dna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__dna, samtools_index__picard_markduplicates__dna

    [[args]]
        bed             = utr_bed
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[samtools_view__mirnaoverlap__dna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__dna, samtools_index__picard_markduplicates__dna

    [[args]]
        bed             = mirna_bed
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[samtools_view__rrnaoverlap__dna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__dna, samtools_index__picard_markduplicates__dna

    [[args]]
        bed             = rrna_bed
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[samtools_view__lincrnaoverlap__dna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__dna, samtools_index__picard_markduplicates__dna

    [[args]]
        bed             = lincrna_bed
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[samtools_view__ontargetoverlap__dna]
    module          = Samtools
    submodule       = View
    docker_image    = samtools

    input_from      = picard_markduplicates__dna, samtools_index__picard_markduplicates__dna

    [[args]]
        bed             = target_bed
        count_reads     = True
        exclude_flag    = 3332 # exclude unmapped,secondary aligned,pcr dups,suppl alignment

[gatk_depthofcoverage__ontargetcoverage__dna]
    module       = GATK
    submodule    = DepthOfCoverage
    docker_image = gatk3

    input_from   = picard_markduplicates__dna, samtools_index__picard_markduplicates__dna

    final_output = per_base_summary, interval_summary, interval_statistics, sample_summary, sample_statistics, cumulative_coverage_counts, cumulative_coverage_proportions

    [[args]]
        gatk_version = 3
        ref          = ref
        ref_dict     = ref_dict
        ref_idx      = ref_idx

[gatk_depthofcoverage__ontargetexoncoverage__dna]
    module       = GATK
    submodule    = DepthOfCoverage
    docker_image = gatk3

    input_from   = picard_markduplicates__dna, samtools_index__picard_markduplicates__dna, gatk_bedtointervallist__ontargetexome__tna

    final_output = per_base_summary, interval_summary, interval_statistics, sample_summary, sample_statistics, cumulative_coverage_counts, cumulative_coverage_proportions

    [[args]]
        gatk_version = 3
        ref          = ref
        ref_dict     = ref_dict
        ref_idx      = ref_idx

###### DNA Section QCParser
[qcparser_fastqc__rawfastqc__dna]
    module          = QCParser
    submodule       = FastQC
    docker_image    = qcparser

    input_from      = fastqc__raw__dna

    [[args]]
        note = "dna fastqc report parsing for raw fastqs"

[qcparser_fastqc__trimfastqc__dna]
    module          = QCParser
    submodule       = FastQC
    docker_image    = qcparser

    input_from      = fastqc__trim__dna

    [[args]]
        note = "dna fastqc report parsing for trimmed fastqs"

[qcparser_trimmomatic__dna]
    module          = QCParser
    submodule       = Trimmomatic
    docker_image    = qcparser

    input_from      = trimmomatic__dna

    [[args]]
        note = "dna trimmomatic summary report parsing"

[qcparser_samtoolsflagstat__dna]
    module          = QCParser
    submodule       = SamtoolsFlagstat
    docker_image    = qcparser

    input_from      = samtools_flagstat__dna

    [[args]]
        note = "dna star alignment summary report parsing"

[qcparser_picardinsertsizematrics__dna]
    module          = QCParser
    submodule       = PicardInsertMetrics
    docker_image    = qcparser

    input_from      = picard_collectinsertsizematrics__dna

    [[args]]
        note = "dna picard insert size summary report parsing"

[qcparser_samtoolscountreads__dna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__countreads__dna

    [[args]]
        note = "dna read counts mapped to the genome"

[qcparser_samtoolscountreads__ontarget__dna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__countreads__dna

    [[args]]
        note = "dna on target read counts mapped to the genome"

[qcparser_samtoolscountreads__exon__dna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__exonoverlap__dna

    [[args]]
        note = "dna exon read counts mapped to the genome"

[qcparser_samtoolscountreads__intron__dna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__intronoverlap__dna

    [[args]]
        note = "dna intron read counts mapped to the genome"

[qcparser_samtoolscountreads__intergenic__dna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__intergenicoverlap__dna

    [[args]]
        note = "dna intergenic read counts mapped to the genome"

[qcparser_samtoolscountreads__utr__dna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__utroverlap__dna

    [[args]]
        note = "dna utr read counts mapped to the genome"

[qcparser_samtoolscountreads__midna__dna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__midnaoverlap__dna

    [[args]]
        note = "dna miRNA read counts mapped to the genome"

[qcparser_samtoolscountreads__rdna__dna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__rdnaoverlap__dna

    [[args]]
        note = "dna rRNA read counts mapped to the genome"

[qcparser_samtoolscountreads__lincdna__dna]
    module          = QCParser
    submodule       = SamtoolsCountReads
    docker_image    = qcparser

    input_from      = samtools_view__lincdnaoverlap__dna

    [[args]]
        note = "dna lincRNA read counts mapped to the genome"

[qcparser_docsamplesummarystats__dna]
    module          = QCParser
    submodule       = DOCSampleSummaryStats
    docker_image    = qcparser

    input_from      = gatk_depthofcoverage__ontargetcoverage__dna

    [[args]]
        note = "dna on target depth of coverage stats"

[qcparser_docintervalsummarystats__dna]
    module          = QCParser
    submodule       = DOCIntervalSummaryStats
    docker_image    = qcparser

    input_from      = gatk_depthofcoverage__ontargetexoncoverage__dna

    [[args]]
        note = "dna on target exon depth of coverage stats"

[qcreportmerger_cbind__dna]
    module          = QCReportMerger
    submodule       = Cbind
    docker_image    = qcparser

    input_from      = qcparser_demuxtnastats__tna, qcparser_fastqc__rawfastqc__dna, qcparser_fastqc__trimmfastqc__dna, qcparser_trimmomatic__dna, qcparser_samtoolsflagstat__dna, qcparser_picardinsertsizematrics__dna, qcparser_samtoolscountreads__exon__dna, qcparser_samtoolscountreads__intron__dna, qcparser_samtoolscountreads__intergenic__dna, qcparser_samtoolscountreads__utr__dna, qcparser_samtoolscountreads__midna__dna, qcparser_samtoolscountreads__rdna__dna, qcparser_samtoolscountreads__lincdna__dna, qcparser_docsamplesummarystats__dna, qcparser_docintervalsummarystats__dna, qcparser_samtoolscountreads__dna, qcparser_samtoolscountreads__ontarget__dna

################## Final QC Merge TNA (DNA + RNA)
[qcreportmerger_cbind__tna]
    module = QCReportMerger
    submodule = Cbind
    docker_image = qcparser

    input_from = qcreportmerger_cbind__rna, qcreportmerger_cbind__dna

    final_output = qc_report
