[Docker]

    [[picard]]
        image = biocontainers/picard-tools:v2.8.1dfsg-1-deb_cv1
        [[[picard]]]
            resource_type   = picard
            path            = PicardCommandLine

    [[gatk4]]
        image = broadinstitute/gatk:4.1.2.0
        [[[gatk4]]]
            resource_type   = gatk
            path            = gatk.jar
        [[[java]]]
            resource_type   = java
            path            = java

    [[gatk3]]
        image = broadinstitute/gatk3:3.8-1
        [[[gatk3]]]
            resource_type   = gatk
            path            = GenomeAnalysisTK.jar
        [[[java]]]
            resource_type   = java
            path            = java

    [[samtools]]
        image = davelabhub/samtools:1.9--h8571acd_11
        [[[samtools]]]
            resource_type   = samtools
            path            = samtools

    [[bedtools]]
        image = davelabhub/bedtools:2.28.0--hdf88d34_0
        [[[bedtools]]]
            resource_type   = bedtools
            path            = bedtools

[Path]

    [[rrna_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/ucsc/annotation/ucsc_rRNA.sorted.merged.bed

    [[exonic_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.exons.bed

    [[utr_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.utrs.bed

    [[intron_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.introns.bed

    [[intergenic_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.intergenic.bed

    [[mirna_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.miRNA.bed

    [[lincrna_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.lincRNA.bed

    [[ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa*

    [[ref_idx]]
        resource_type   = ref_idx
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa.fai

    [[ref_dict]]
        resource_type   = ref_dict
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/gatk/GRCh38.p12.genome.plus.ERCC.dict

    [[gtf]]
        resource_type   = gtf
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/gencode.v30.chr_patch_hapl_scaff.annotation.plus.ERCC.gtf

    [[target_bed]]
        resource_type   = bed
        path            = ""

    [[target_exonic_bed]]
        resource_type   = bed
        path            = ""
