[Docker]
    [[igv_translocation]]
        image = davelabhub/igv_translocation:latest
        [[[igv_translocation]]]
            resource_type   = igv_translocation
            path            = igv_translocation

[Path]
	[[repeat_blacklist]]
        resource_type   = repeat_blacklist
        path            = gs://davelab_data/ref/naresh_sv/hg38_repeat_masker.sorted.bed
    [[repeat_blacklist_index]]
        resource_type   = repeat_blacklist_index
        path            = gs://davelab_data/ref/naresh_sv/hg38_repeat_masker.sorted.bed.idx
    [[bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/capture_baits/twist/maskPAR/Twist_8MB_panel_with_ERCCs.maskPAR.bed
