[Dellylumpydestructmerger]
    module                      = Dellylumpydestructmerger
    submodule                   = Dellylumpydestructmerger
    docker_image                = dellylumpydestructmerger
    final_output                = all_merged_vcf, all_merged_cons_vcf, tmp_bed, tmp1_bed, tmp_all_bed