[utils_consolidatesamplename__rna]
    module      = Utils
    submodule   = ConsolidateSampleName

[abcgcbscoresalmon__rna]
    module          = ABCGCBScoreSalmon
    docker_image    = abc_gcb_score

    final_output    = abc_gcb_score, normalized_gene_counts

    [[args]]
        ref             = abc_gcb_genes
        capture_gene_id = capture_gene_id

[qcparser_abcgcbscore__salmon__rna]
    module          = QCParser
    submodule       = ABCGCBScore
    docker_image    = qcparser

    input_from      = abcgcbscoresalmon__rna, utils_consolidatesamplename__rna

    [[args]]
        note = "rna salmon abc/gcb score"

[qcreportmerger_cbind__rna]
    module          = QCReportMerger
    submodule       = Cbind
    docker_image    = qcparser

    input_from      = qcparser_abcgcbscore__salmon__rna

    final_report    = qc_report
