[Docker]

  [[abc_gcb_score]]
      image = davelabhub/abcgcbscore:v20200701
      [[[abc_gcb_score]]]
          resource_type = abc_gcb_score_script
          path          = ABC_GCB_Score_From_Gene_Counts.salmon.Rscript

    [[qcparser]]
        image = davelabhub/qcparser:latest
        [[[qcparser]]]
            resource_type   = qc_parser
            path            = QCParser.py

[Path]

    [[capture_gene_id]]
        resource_type   = capture_gene_id
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/primary/gencode.v30.primary_assembly.annotation.plus.ERCC.gtf.geneids_genenames.captured1mb

    [[abc_gcb_genes]]
        resource_type   = ref
        path            = s3://davelab-data/ref/human/hg38/abcgcbscore/abc_gcb_genes.longer.txt
