[Docker]

    [[cutadapt]]
        image = davelabhub/cutadapt:2.3--py37h14c3975_0
        [[[cutadapt]]]
            resource_type = cutadapt
            path          = cutadapt

    [[fastqc]]
        image = davelabhub/fastqc:0.11.8--1
        [[[fastqc]]]
            resource_type   = fastqc
            path            = fastqc

    [[trimmomatic]]
        image = davelabhub/trimmomatic:0.39--1
        [[[trimmomatic]]]
            resource_type   = trimmomatic
            path            = trimmomatic

    [[bwa]]
        image = davelabhub/bwa_samtools:20190123
        [[[bwa]]]
            resource_type = bwa
            path          = bwa
        [[[samtools]]]
            resource_type = samtools
            path          = samtools

    [[picard]]
        image = biocontainers/picard-tools:v2.8.1dfsg-1-deb_cv1
        [[[picard]]]
            resource_type   = picard
            path            = PicardCommandLine

    [[gatk4]]
        image = broadinstitute/gatk:4.1.2.0
        [[[gatk4]]]
            resource_type   = gatk
            path            = gatk.jar
        [[[java]]]
            resource_type   = java
            path            = java

    [[gatk3]]
        image = broadinstitute/gatk3:3.8-1
        [[[gatk3]]]
            resource_type   = gatk
            path            = GenomeAnalysisTK.jar
        [[[java]]]
            resource_type   = java
            path            = java

    [[samtools]]
        image = davelabhub/samtools:1.9--h8571acd_11
        [[[samtools]]]
            resource_type   = samtools
            path            = samtools

    [[bedtools]]
        image = davelabhub/bedtools:2.28.0--hdf88d34_0
        [[[bedtools]]]
            resource_type   = bedtools
            path            = bedtools

    [[mosdepth]]
        image = davelabhub/mosdepth:0.2.5--hb763d49_0
        [[[mosdepth]]]
            resource_type = mosdepth
            path          = mosdepth

    [[bcftools]]
        image = davelabhub/bcftools:1.9--ha228f0b_4
        [[[bcftools]]]
            resource_type = bcftools
            path = bcftools

    [[snpsift]]
        image = davelabhub/snpsift:4.3.1t--1
        [[[snpsift]]]
            resource_type = snpsift
            path = SnpSift.jar

    [[qcparser]]
        image = davelabhub/qcparser:latest
        [[[qcparser]]]
            resource_type   = qc_parser
            path            = QCParser.py

    [[pipeline_tools]]
        image = davelabhub/pipeline-tools:latest
        [[[recode_vcf]]]
            resource_type = recode_vcf
            path = RecodeVCF.py
        [[[cat_recoded_vcf]]]
            resource_type = cat_recoded_vcf
            path = CatRecodedVCF.py

    [[multi_omics_results]]
        image = davelabhub/who-multi-omics-results:latest
        [[[multi_omics_results]]]
            resource_type   = meta_script
            path            = who-multi-omics-results/meta_analysis_CLI.R

    [[bgzip]]
        image = davelabhub/tabix:0.2.6--ha92aebf_0
        [[[bgzip]]]
            resource_type   = bgzip
            path            = bgzip

    [[tabix]]
        image = davelabhub/tabix:0.2.6--ha92aebf_0
        [[[tabix]]]
            resource_type   = tabix
            path            = tabix

    [[strelka2]]
        image = davelabhub/strelka:2.9.10--0
        [[[strelka2]]]
            resource_type   = strelka2
            path            = configureStrelkaGermlineWorkflow.py

    [[deepvariant]]
        image = gcr.io/deepvariant-docker/deepvariant:0.8.0
        [[[deepvariant]]]
            resource_type   = deepvariant
            path            = /opt/deepvariant/bin/run_deepvariant

    [[gunzip]]
        image = lindsayliang/gzip_tbi_gvcf:latest
        [[[gunzip]]]
            resource_type   = gunzip
            path            = gunzip

    [[jacquard]]
        image = davelabhub/jacquard:v1.1.2
        [[[jacquard]]]
            resource_type = jacquard
            path          = jacquard

[Path]

    [[demux_script]]
        resource_type = tna_demux_script
        path          = s3://davelab-data/tools/tna_single_sample_preprocessing.sh

    [[rrna_bed]]
        resource_type   = bed
        path            = s3://davelab-data/ref/human/hg38/ucsc/annotation/ucsc_rRNA.sorted.merged.bed

    [[gene_bed]]
        resource_type   = gene_bed
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.genes.gene_name.bed

    [[exome_bed]]
        resource_type   = bed
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.exons.bed

    [[utr_bed]]
        resource_type   = bed
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.utrs.bed

    [[intron_bed]]
        resource_type   = bed
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.introns.bed

    [[intergenic_bed]]
        resource_type   = bed
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.intergenic.bed

    [[mirna_bed]]
        resource_type   = bed
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.miRNA.bed

    [[lincrna_bed]]
        resource_type   = bed
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.lincRNA.bed

    [[promoter_bed]]
        resource_type   = promoter_bed
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.promoters.gene_name.bed

    [[literature_bed]]
        resource_type   = literature_bed
        path            = s3://davelab-data/ref/human/hg38/translocations/literature.bed

    [[adapters]]
        resource_type   = adapters
        path            = s3://davelab-data/tools/Trimmomatic_0.36/adapters/adapters.fa

    [[ref]]
        resource_type   = ref
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa*

    [[ref_idx]]
        resource_type   = ref_idx
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa.fai

    [[ref_dict]]
        resource_type   = ref_dict
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/gatk/GRCh38.p12.genome.plus.ERCC.dict

    [[gtf]]
        resource_type   = gtf
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/gencode.v30.chr_patch_hapl_scaff.annotation.plus.ERCC.gtf

    [[star_ref]]
        resource_type   = ref
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/maskPAR_primary/star

    [[rsem_ref]]
        resource_type   = rsem_ref
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/rsem/GRCh38.p12.genome.plus.ERCC*

    [[dbsnp]]
        resource_type   = dbsnp
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/gatk/All_20180418_sorted.vcf

    [[annovar]]
        resource_type   = annovar
        path            = /ref/annovar/table_annovar.pl

    [[perl]]
        resource_type   = perl
        path            = /usr/bin/perl
        pipeline        = dna, tna

    [[target_bed]]
        resource_type   = bed
        path            = ""

    [[target_exonic_bed]]
        resource_type   = bed
        path            = ""
#
#    [[target_pon]]
#        resource_type   = pon
#        path            = ""
#
#    [[target_preprocessed_intervals]]
#        resource_type   = interval_list
#        path            = ""
#
#    [[translocation_filter_bed]]
#        resource_type   = filter_bed
#        path            = s3://davelab-data/ref/human/hg38/translocations/1mb_panel_11_gene_filter.bed
#
#    [[genetic_model_ref]]
#        resource_type   = ref_cell_model
#        path            = s3://davelab-data/ref/human/hg38/mutation_ref/Genomic_risk_model_Ref_data.Rdata
