[Docker]

    [[cutadapt]]
        image = quay.io/biocontainers/cutadapt:2.3--py37h14c3975_0
        [[[cutadapt]]]
            resource_type = cutadapt
            path          = cutadapt

    [[fastqc]]
        image = quay.io/biocontainers/fastqc:0.11.8--1
        [[[fastqc]]]
            resource_type   = fastqc
            path            = fastqc

    [[trimmomatic]]
        image = quay.io/biocontainers/trimmomatic:0.39--1
        [[[trimmomatic]]]
            resource_type   = trimmomatic
            path            = trimmomatic

    [[bwa]]
        image = davelabhub/bwa_samtools:20190123
        [[[bwa]]]
            resource_type = bwa
            path          = bwa
        [[[samtools]]]
            resource_type = samtools
            path          = samtools

    [[star]]
        image = quay.io/biocontainers/star:2.7.1a--0
        [[[star]]]
            resource_type   = star
            path            = STAR

    [[picard]]
        image = quay.io/biocontainers/picard:2.20.2--0
        [[[picard]]]
            resource_type   = picard
            path            = picard

    [[rsem]]
        image = quay.io/biocontainers/rsem:1.3.2--pl526r351hc0aa232_0
        [[[rsem]]]
            resource_type   = rsem
            path            = rsem-calculate-expression

    [[gatk4]]
        image = broadinstitute/gatk:4.1.2.0
        [[[gatk4]]]
            resource_type   = gatk
            path            = gatk.jar
        [[[java]]]
            resource_type   = java
            path            = java

    [[gatk3]]
        image = broadinstitute/gatk3:3.8-1
        [[[gatk3]]]
            resource_type   = gatk
            path            = GenomeAnalysisTK.jar
        [[[java]]]
            resource_type   = java
            path            = java

    [[samtools]]
        image = quay.io/biocontainers/samtools:1.9--h8571acd_11
        [[[samtools]]]
            resource_type   = samtools
            path            = samtools

    [[bedtools]]
        image = quay.io/biocontainers/bedtools:2.28.0--hdf88d34_0
        [[[bedtools]]]
            resource_type   = bedtools
            path            = bedtools

    [[mosdepth]]
        image = quay.io/biocontainers/mosdepth:0.2.5--hb763d49_0
        [[[mosdepth]]]
            resource_type = mosdepth
            path          = mosdepth

    [[bcftools]]
        image = quay.io/biocontainers/1.9--ha228f0b_4
        [[[bcftools]]]
            resource_type = bcftools
            path = bcftools

    [[snpsift]]
        image = davelabhub/snpsift:4.3.1t--1
        [[[snpsift]]]
            resource_type = snpsift
            path = SnpSift.jar

    [[qcparser]]
        image = davelabhub/qcparser:latest
        [[[qcparser]]]
            resource_type   = qc_parser
            path            = QCParser.py

    [[aggregate_raw_read_counts]]
        image = davelabhub/aggregaterawreadcounts:v.20180710
        [[[read_counts]]]
            resource_type   = aggregate
            path            = aggregate_raw_read_counts_CLI.R

    [[aggregate_rsem_results]]
        image = davelabhub/aggregatersemresults:20180710
        [[[rsem_results]]]
            resource_type   = aggregate_rsem_results_script
            path            = aggregate_rsem_results_CLI.R

    [[combine_exp_gene_name]]
        image = davelabhub/combineexpressionwithgenemetadata:20180710
        [[[combine_exp_gene_name]]]
            resource_type   = combine_script
            path            = generate_expression_matrix_CLI.R

    [[pipeline_tools]]
        image = davelabhub/pipeline-tools:latest
        [[[recode_vcf]]]
            resource_type = recode_vcf
            path = RecodeVCF.py
        [[[cat_recoded_vcf]]]
            resource_type = cat_recoded_vcf
            path = CatRecodedVCF.py

[Path]

    [[demux_script]]
        resource_type = tna_demux_script
        path          = gs://davelab_data/tools/tna_single_sample_preprocessing.sh

    [[rrna_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/ucsc/annotation/ucsc_rRNA.sorted.merged.bed

    [[exome_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.exons.bed

    [[utr_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.utrs.bed

    [[intron_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.introns.bed

    [[intergenic_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.intergenic.bed

    [[mirna_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.miRNA.bed

    [[lincrna_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.lincRNA.bed

    [[adapters]]
        resource_type   = adapters
        path            = gs://davelab_data/tools/Trimmomatic_0.36/adapters/adapters.fa

    [[ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa*

    [[ref_idx]]
        resource_type   = ref_idx
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa.fai

    [[ref_dict]]
        resource_type   = ref_dict
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/gatk/GRCh38.p12.genome.plus.ERCC.dict

    [[gtf]]
        resource_type   = gtf
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/gencode.v30.chr_patch_hapl_scaff.annotation.plus.ERCC.gtf

    [[star_ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/star

    [[rsem_ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/rsem/GRCh38.gencode_v29.primary_assembly*

    [[dbsnp]]
        resource_type   = dbsnp
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/gatk/All_20180418_sorted.vcf

    [[annovar]]
        resource_type   = annovar
        path            = /ref/annovar/table_annovar.pl

    [[perl]]
        resource_type   = perl
        path            = /usr/bin/perl
        pipeline        = dna, tna

    [[target_bed]]
        resource_type   = bed
        path            = ****target_bed

    [[target_exonic_bed]]
        resource_type   = bed
        path            = ****target_exonic_bed

    [[target_pon]]
        resource_type   = pon
        path            = ****target_pon

    [[target_preporcessed_intervals]]
        resource_type   = interval_list
        path            = ****target_preporcessed_intervals

    [[genetic_model_ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/mutation_ref/Genomic_risk_model_Ref_data.Rdata
