[utils_indexvcf__dna]
	module=Utils
	submodule=IndexVCF
	docker_image=bgzip_docker

[plink_plink__dna]
	module=Plink
	submodule=Plink
	docker_image=plink_docker

	input_from=utils_indexvcf__dna

[peddy_peddy__dna]
	module=Peddy
	submodule=Peddy
	docker_image=peddy_docker

	input_from=plink_plink__dna, utils_indexvcf__dna

	final_output=peddy_html, sex_csv, sex_png, pca_png, het_csv, het_png, ped_csv, ped_png, ped_csv_rel_diff

