[Docker]
    [[plink_docker]]
        image = davelabhub/plink:v1.9
        [[[plink]]]
            resource_type   = plink
            path            = plink
    [[peddy_docker]]
        image = kfdrc/peddy:latest 
        [[[peddy]]]
            resource_type   = peddy
            path            = peddy
	[[bgzip_docker]]
        image = davelabhub/tabix:0.2.6--ha92aebf_0
        [[[bgzip]]]
            resource_type   = bgzip
            path            = bgzip
		[[[tabix]]]
			resource_type	= tabix
			path			= tabix
