[Docker]
    [[bgzip]]
        image = davelabhub/tabix:0.2.6--ha92aebf_0
        [[[bgzip]]]
            resource_type   = bgzip
            path            = bgzip
    [[tabix]]
        image = davelabhub/tabix:0.2.6--ha92aebf_0
        [[[tabix]]]
            resource_type   = tabix
            path            = tabix
    [[strelka2]]
        image = davelabhub/strelka:2.9.10--0
        [[[strelka2]]]
            resource_type   = strelka2
            path            = configureStrelkaGermlineWorkflow.py
    [[gunzip]]
        image = lindsayliang/gzip_tbi_gvcf:latest
        [[[gunzip]]]
            resource_type   = gunzip
            path            = gunzip
    [[bcftools]]
        image = davelabhub/bcftools:1.9--ha228f0b_4
        [[[bcftools]]]
            resource_type = bcftools
            path = bcftools
    [[pipeline_tools]]
        image = davelabhub/pipeline-tools:latest
        [[[recode_vcf]]]
            resource_type = recode_vcf
            path = RecodeVCF.py
        [[[cat_recoded_vcf]]]
            resource_type = cat_recoded_vcf
            path = CatRecodedVCF.py
    [[deepvariant]]
        image = gcr.io/deepvariant-docker/deepvariant:0.8.0
        [[[deepvariant]]]
            resource_type   = deepvariant
            path            = /opt/deepvariant/bin/run_deepvariant
    [[gatk4]]
        image = broadinstitute/gatk:4.1.2.0
        [[[gatk4]]]
            resource_type   = gatk
            path            = gatk.jar
        [[[java]]]
            resource_type   = java
            path            = java
    [[purity]]
        image = davelabhub/purity:latest
        [[[purity]]]
            resource_type   = purity
            path            = purity
[Path]
    [[padded_target_bed]]
        resource_type   = bed
        path            = ""
    [[ref]]
        resource_type   = ref
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/maskPAR/GRCh38.p12.genome.plus.ERCC.maskPAR.fa*
    [[ref_idx]]
        resource_type   = ref_idx
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/maskPAR/GRCh38.p12.genome.plus.ERCC.maskPAR.fa.fai
    [[ref_dict]]
        resource_type   = ref_dict
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/maskPAR/gatk/GRCh38.p12.genome.plus.ERCC.maskPAR.dict

    [[annovar]]
        resource_type   = annovar
        path            = /ref/annovar/table_annovar.pl

    [[perl]]
        resource_type   = perl
        path            = /usr/bin/perl
        pipeline        = dna, tna

    [[whitelist]]
        resource_type   = whitelist
        path            = s3://davelab-data/ref/purity_whitelist/whitelist_variants_3-26-20.csv

    [[extended_whitelist]]
        resource_type   = extended_whitelist
        path            = s3://davelab-data/ref/purity_whitelist/extended_whitelist.tsv