[salmon_alignmentbasedquant__rna]
    module          = Salmon
    submodule       = AlignmentBasedQuant
    docker_image    = salmon

    final_output    = quant_file

[tximport__rna]
    module          = Tximport
    docker_image    = tximport

    input_from      = salmon_alignmentbasedquant__rna

    final_output    = quant_gene_counts, quant_gene_tpm
