[Docker]

  [[salmon]]
    image = davelabhub/salmon:1.2.1--hf69c8f4_0
    [[[salmon]]]
      resource_type = salmon
      path          = salmon

  [[tximport]]
      image = davelabhub/tximport:v20200624
      [[[tximport_script]]]
          resource_type = tximport_script
          path          = run_tximport.R

[Path]

    [[ref]]
        resource_type   = ref
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/maskPAR_primary/rsem/GRCh38.primary_assembly.genome.plus.ERCC.maskPAR.transcripts.fa

    [[tx2gene]]
        resource_type   = tx2gene
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/maskPAR_primary/gencode.v30.annotation.tx2gene