[Docker]
    [[mixcr]]
        image = davelabhub/mixcr:v3
        [[[mixcr]]]
            resource_type   = mixcr
            path            = mixcr
    [[samtools]]
        image = davelabhub/samtools:1.9--h8571acd_11
        [[[samtools]]]
            resource_type = samtools
            path = samtools
