[utils_consolidatesamplename__tna]
    module = Utils
    submodule = ConsolidateSampleName
[merge_bam]
    module = MergeBams
    docker_image = samtools
[clonotype_calling]
    module          = Clonotype
    submodule       = Clonotype
    docker_image    = mixcr
    final_output    = ig_clones, t_clones, ig_report, t_report
    input_from      = merge_bam, utils_consolidatesamplename__tna
    [[args]]
        ig          = True
        t           = True