[Docker]
#
#    [[cutadapt]]
#        image = davelabhub/cutadapt:2.3--py37h14c3975_0
#        [[[cutadapt]]]
#            resource_type = cutadapt
#            path          = cutadapt
    [[cancer]]
        image         = us.gcr.io/davelab-gcloud/cancer:0.1-alpha

    [[fastqc]]
        image = davelabhub/fastqc:0.11.8--1
        [[[fastqc]]]
            resource_type   = fastqc
            path            = fastqc

    [[trimmomatic]]
        image = davelabhub/trimmomatic:0.39--1
        [[[trimmomatic]]]
            resource_type   = trimmomatic
            path            = trimmomatic

    [[bwa]]
        image = davelabhub/bwa_samtools:20190123
        [[[bwa]]]
            resource_type = bwa
            path          = bwa
        [[[samtools]]]
            resource_type = samtools
            path          = samtools

    [[bowtie2]]
        image = davelabhub/bowtie2_plus_samtools:v20191121
        [[[bowtie2]]]
            resource_type   = bowtie2
            path            = bowtie2
        [[[samtools]]]
            resource_type   = samtools
            path            = samtools

    [[star]]
        image = davelabhub/star:2.7.1a--0
        [[[star]]]
            resource_type   = star
            path            = STAR

    [[picard]]
        image = biocontainers/picard-tools:v2.8.1dfsg-1-deb_cv1
        [[[picard]]]
            resource_type   = picard
            path            = PicardCommandLine

    [[rsem]]
        image = davelabhub/rsem:1.3.2--pl526r351hc0aa232_0
        [[[rsem]]]
            resource_type   = rsem
            path            = rsem-calculate-expression

    [[gatk4]]
        image = broadinstitute/gatk:4.1.2.0
        [[[gatk4]]]
            resource_type   = gatk
            path            = gatk.jar
        [[[java]]]
            resource_type   = java
            path            = java

    [[gatk3]]
        image = broadinstitute/gatk3:3.8-1
        [[[gatk3]]]
            resource_type   = gatk
            path            = GenomeAnalysisTK.jar
        [[[java]]]
            resource_type   = java
            path            = java

    [[samtools]]
        image = davelabhub/samtools:1.9--h8571acd_11
        [[[samtools]]]
            resource_type   = samtools
            path            = samtools

    [[bedtools]]
        image = davelabhub/bedtools:2.28.0--hdf88d34_0
        [[[bedtools]]]
            resource_type   = bedtools
            path            = bedtools

    [[mosdepth]]
        image = davelabhub/mosdepth:0.2.5--hb763d49_0
        [[[mosdepth]]]
            resource_type = mosdepth
            path          = mosdepth

    [[bcftools]]
        image = davelabhub/bcftools:1.9--ha228f0b_4
        [[[bcftools]]]
            resource_type = bcftools
            path = bcftools

    [[snpsift]]
        image = davelabhub/snpsift:4.3.1t--1
        [[[snpsift]]]
            resource_type = snpsift
            path = SnpSift.jar

    [[qcparser]]
        image = davelabhub/qcparser:latest
        [[[qcparser]]]
            resource_type   = qc_parser
            path            = QCParser.py

    [[aggregate_raw_read_counts]]
        image = davelabhub/aggregaterawreadcounts:v.20180710
        [[[read_counts]]]
            resource_type   = aggregate
            path            = aggregate_raw_read_counts_CLI.R

    [[aggregate_rsem_results]]
        image = davelabhub/aggregatersemresults:20180710
        [[[rsem_results]]]
            resource_type   = aggregate_rsem_results_script
            path            = aggregate_rsem_results_CLI.R

    [[combine_exp_gene_name]]
        image = davelabhub/combineexpressionwithgenemetadata:20180710
        [[[combine_exp_gene_name]]]
            resource_type   = combine_script
            path            = generate_expression_matrix_CLI.R

    [[pipeline_tools]]
        image = davelabhub/pipeline-tools:latest
        [[[recode_vcf]]]
            resource_type = recode_vcf
            path = RecodeVCF.py
        [[[cat_recoded_vcf]]]
            resource_type = cat_recoded_vcf
            path = CatRecodedVCF.py

    [[multi_omics_results]]
        image = davelabhub/who-multi-omics-results:latest
        [[[multi_omics_results]]]
            resource_type   = meta_script
            path            = who-multi-omics-results/meta_analysis_CLI.R

    [[discordant_reads_pileup]]
        image = davelabhub/translocationfinder:latest
        [[[discordant_reads_pileup]]]
            resource_type   = discordant_reads_pileup
            path            = Main.py

    [[bedsam]]
        image = davelabhub/bedsam:v20200130
        [[[bedtools]]]
            resource_type = bedtools
            path          = bedtools
        [[[samtools]]]
            resource_type = samtools
            path          = samtools

    [[abc_gcb_score]]
        image = davelabhub/abccbscore:v20200131
        [[[abc_gcb_score]]]
            resource_type = abc_gcb_score_script
            path          = ABC_GCB_Score_From_Gene_Counts.Rscript

    [[bgzip]]
        image = davelabhub/tabix:0.2.6--ha92aebf_0
        [[[bgzip]]]
            resource_type   = bgzip
            path            = bgzip

    [[tabix]]
        image = davelabhub/tabix:0.2.6--ha92aebf_0
        [[[tabix]]]
            resource_type   = tabix
            path            = tabix

    [[strelka2]]
        image = davelabhub/strelka:2.9.10--0
        [[[strelka2]]]
            resource_type   = strelka2
            path            = configureStrelkaGermlineWorkflow.py

    [[deepvariant]]
        image = gcr.io/deepvariant-docker/deepvariant:0.8.0
        [[[deepvariant]]]
            resource_type   = deepvariant
            path            = /opt/deepvariant/bin/run_deepvariant

    [[gunzip]]
        image = lindsayliang/gzip_tbi_gvcf:latest
        [[[gunzip]]]
            resource_type   = gunzip
            path            = gunzip

    [[jacquard]]
        image = davelabhub/jacquard:v1.1.2
        [[[jacquard]]]
            resource_type = jacquard
            path          = jacquard

[Path]

    [[demux_script]]
        resource_type = tna_demux_script
        path          = gs://davelab_data/tools/tna_single_sample_preprocessing.sh

    [[rrna_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/ucsc/annotation/ucsc_rRNA.sorted.merged.bed

    [[gene_bed]]
        resource_type   = gene_bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.genes.gene_name.bed

    [[exonic_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.exons.bed

    [[utr_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.utrs.bed

    [[intron_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.introns.bed

    [[intergenic_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.intergenic.bed

    [[mirna_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.miRNA.bed

    [[lincrna_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.lincRNA.bed

    [[ercc_bed]]
        resource_type = bed
        path = gs://davelab_data/ref/human/hg38/gencode/v30/other_bed/ERCC_no_polyA.bed

    [[promoter_bed]]
        resource_type   = promoter_bed
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/genomic_region/gencode.v30.chr_patch_hapl_scaff.annotation.genes.gene_name.bed

    [[literature_bed]]
        resource_type   = literature_bed
        path            = gs://davelab_data/ref/human/hg38/translocations/literature.bed

    [[adapters]]
        resource_type   = adapters
        path            = gs://davelab_data/tools/Trimmomatic_0.36/adapters/adapters.fa

    [[ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa*

    [[ref_idx]]
        resource_type   = ref_idx
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa.fai

    [[ref_dict]]
        resource_type   = ref_dict
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/gatk/GRCh38.p12.genome.plus.ERCC.dict

    [[gtf]]
        resource_type   = gtf
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/gencode.v30.chr_patch_hapl_scaff.annotation.plus.ERCC.gtf

    [[rrna_ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/rrna_ref/human_ribosomal_dna_complete_repeating_unit*

    [[star_ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/star

    [[rsem_ref]]
        resource_type   = rsem_ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/rsem/GRCh38.p12.genome.plus.ERCC*

    [[dbsnp]]
        resource_type   = dbsnp
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/gatk/All_20180418_sorted.vcf

    [[annovar]]
        resource_type   = annovar
        path            = /ref/annovar/table_annovar.pl

    [[perl]]
        resource_type   = perl
        path            = /usr/bin/perl
        pipeline        = dna, tna

    [[target_bed]]
        resource_type   = bed
        path            = ""

    [[target_exonic_bed]]
        resource_type   = bed
        path            = ""

#    [[target_pon]]
#        resource_type   = pon
#        path            = ""
#
#    [[target_preprocessed_intervals]]
#        resource_type   = interval_list
#        path            = ""
#
#    [[1KDLBCL_target_expression_ref]]
#        resource_type   = ref_expr
#        path            = ""

    [[translocation_filter_bed]]
        resource_type   = filter_bed
        path            = gs://davelab_data/ref/human/hg38/translocations/1mb_panel_11_gene_filter.bed

    [[genetic_model_ref]]
        resource_type   = ref_cell_model
        path            = gs://davelab_data/ref/human/hg38/mutation_ref/Genomic_risk_model_Ref_data.Rdata

    [[abc_gcb_score_script]]
        resource_type   = abc_gcb_score_script
        path            = gs://davelab_data/tools/ABC_GCB_Score_From_Gene_Counts.Rscript

    [[abcgcbscore_gene_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/abcgcbscore/gencode.v30.annotation.gene_coordinates.captured.bed

    [[abcgcbscore_target_gene_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/abcgcbscore/gencode.v30.annotation.gene_coordinates.captured.sorted.bed

    [[abcgcbscore_exonic_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/abcgcbscore/gencode.v30.annotation.exon_coordinates.bed

    [[abcgcbscore_target_exonic_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/abcgcbscore/gencode.v30.annotation.exon_coordinates.overlap_capture.bed

    [[abc_gcb_genes]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/abcgcbscore/abc_gcb_genes.longer.txt
