[Docker]
  [[gunzip]]
    image = lindsayliang/gzip_tbi_gvcf:latest
    [[[gunzip]]]
      resource_type   = gunzip
      path            = gunzip

[Path]
  [[annovar]]
    resource_type   = annovar
    path            = /ref/annovar/table_annovar.pl

  [[perl]]
    resource_type   = perl
    path            = /usr/bin/perl
    pipeline        = dna, tna
