[utils_gunzipvcf__dna]
    module          = Utils
    submodule       = GunzipVCF
    docker_image    = gunzip

[annovar__dna]
    module          = Annovar

    input_from      = utils_gunzipvcf__dna

    final_output    = vcf

    [[args]]
        dbdir       = "/ref/annovar/humandb"
        operations  = "g,r,f,f,f,f,f,f,f,f,f,f,f,f"
        protocol    = "refGene,genomicSuperDups,exac03,gnomad_exome,gnomad_genome,avsnp150,esp6500siv2_all,1000g2015aug_all,cosmic87_coding,cosmic87_noncoding,dbnsfp35a,cadd14gt10,nci60,clinvar_20180603"
        buildver    = "hg38"
