[Docker]

    [[fastqc]]
        image = davelabhub/fastqc:0.11.8--1
        [[[fastqc]]]
            resource_type   = fastqc
            path            = fastqc

    [[trimmomatic]]
        image = davelabhub/trimmomatic:0.39--1
        [[[trimmomatic]]]
            resource_type   = trimmomatic
            path            = trimmomatic

    [[star]]
        image = davelabhub/star:2.7.1a--0
        [[[star]]]
            resource_type   = star
            path            = STAR

    [[picard]]
        image = biocontainers/picard-tools:v2.8.1dfsg-1-deb_cv1
        [[[picard]]]
            resource_type   = picard
            path            = PicardCommandLine

    [[gatk4]]
        image = broadinstitute/gatk:4.1.2.0
        [[[gatk4]]]
            resource_type   = gatk
            path            = gatk.jar
        [[[java]]]
            resource_type   = java
            path            = java

    [[samtools]]
        image = davelabhub/samtools:1.9--h8571acd_11
        [[[samtools]]]
            resource_type   = samtools
            path            = samtools

    [[bedtools]]
        image = davelabhub/bedtools:2.28.0--hdf88d34_0
        [[[bedtools]]]
            resource_type   = bedtools
            path            = bedtools

    [[bcftools]]
        image = davelabhub/bcftools:1.9--ha228f0b_4
        [[[bcftools]]]
            resource_type = bcftools
            path = bcftools

    [[pipeline_tools]]
        image = davelabhub/pipeline-tools:latest
        [[[recode_vcf]]]
            resource_type = recode_vcf
            path = RecodeVCF.py
        [[[cat_recoded_vcf]]]
            resource_type = cat_recoded_vcf
            path = CatRecodedVCF.py

    [[bedsam]]
        image = davelabhub/bedsam:v20200130
        [[[bedtools]]]
            resource_type = bedtools
            path          = bedtools
        [[[samtools]]]
            resource_type = samtools
            path          = samtools

    [[gunzip]]
        image = lindsayliang/gzip_tbi_gvcf:latest
        [[[gunzip]]]
            resource_type   = gunzip
            path            = gunzip

[Path]

    [[adapters]]
        resource_type   = adapters
        path            = gs://davelab_data/tools/Trimmomatic_0.36/adapters/adapters.fa

    [[ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa*

    [[ref_idx]]
        resource_type   = ref_idx
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa.fai

    [[ref_dict]]
        resource_type   = ref_dict
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/gatk/GRCh38.p12.genome.plus.ERCC.dict

    [[gtf]]
        resource_type   = gtf
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/gencode.v30.chr_patch_hapl_scaff.annotation.plus.ERCC.gtf

    [[star_ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/star

    [[dbsnp]]
        resource_type   = dbsnp
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/gatk/All_20180418_sorted.vcf

    [[annovar]]
        resource_type   = annovar
        path            = /ref/annovar/table_annovar.pl

    [[perl]]
        resource_type   = perl
        path            = /usr/bin/perl
        pipeline        = dna, tna

    [[target_bed]]
        resource_type   = bed
        path            = ""

    [[target_exonic_bed]]
        resource_type   = bed
        path            = ""
