[Docker]
    [[discordant_reads_pileup]]
        image = davelabhub/translocationfinder:latest
        [[[discordant_reads_pileup]]]
            resource_type   = discordant_reads_pileup
            path            = Main.py


[Path]
    [[target_bed]]
        resource_type   = target_bed
        path            = ****target_bed
    [[gene_bed]]
        resource_type   = gene_bed
        path            = s3://davelab-data/ref/human/hg38/gencode/v29/annotation/gencode.v29.primary_assembly.primary_chr.genes.annot.bed
    [[promoter_bed]]
        resource_type   = promoter_bed
        path            = s3://davelab-data/ref/human/hg38/gencode/v29/annotation/gencode.v29.primary_assembly.primary_chr.promoters.annot.bed
    [[literature_bed]]
        resource_type   = literature_bed
        path            = s3://davelab-data/ref/human/hg38/translocations/literature.bed
    [[translocation_filter_bed]]
        resource_type   = filter_bed
        path            = ****translocation_filter_bed
