[discordantreadspileup__dna]
    module       = DiscordantReadsPileup
    docker_image = discordant_reads_pileup

    final_output = raw_translocation_table, annotated_translocation_table

    [[args]]
        filter_bed = translocation_filter_bed
        gene_bed = gene_bed
        promoter_bed = promoter_bed
        target_bed = target_bed
        literature_bed = literature_bed
