[Docker]
    [[gatk4]]
        image = broadinstitute/gatk:4.1.3.0
        [[[gatk4]]]
            resource_type   = gatk
            path            = gatk.jar
        [[[java]]]
            resource_type   = java
            path            = java

[Path]

    [[ref]]
        resource_type   = ref
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa*

    [[ref_idx]]
        resource_type   = ref_idx
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa.fai

    [[ref_dict]]
        resource_type   = ref_dict
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/gatk/GRCh38.p12.genome.plus.ERCC.dict

    [[target_pon]]
        resource_type   = pon
        path            = s3://davelab_home/dt147/WHO/new.WHO_FFPE_exome.pon.hdf5

    [[target_preprocessed_intervals]]
        resource_type   = interval_list
        path            = s3://davelab_home/dt147/WHO/twist_exome_panel.interval_list
