[refsplitter__dna]
    module = RefSplitter

    [[args]]
        chrom_list = chr1,chr2,chr3,chr4,chr5,chr6,chr7,chrX,chr8,chr9,chr10,chr11,chr12,chr13,chr14,chr15,chr16,chr17,chr18,chr20,chrY,chr19,chr22,chr21

[gatkmergers_genomicsdbimport__dna]
    module = GATKMergers
    submodule = GenomicsDBImport
    docker_image = gatk4

    input_from = refsplitter__dna

    [[args]]
        gatk_version = 4
        ref = ref
        ref_dict = ref_dict
        ref_idx = ref_idx

[gatk_genotypegenomicsdbgenotype__dna]
    module = GATK
    submodule = GenotypeGenomicsDB
    docker_image = gatk4

    input_from = gatkmergers_genomicsdbimport__dna

    final_output = vcf, vcf_idx

    [[args]]
        gatk_version = 4
        ref = ref
        ref_dict = ref_dict
        ref_idx = ref_idx

[bcftools_bcftoolsnorm__dna]
    module = Bcftools
    submodule = BCFToolsNorm
    docker_image = bcftools

    input_from = gatk_genotypegenomicsdbgenotype__dna

    final_output = vcf

    [[args]]
        ref = ref

[annovar__dna]
    module          = Annovar

    input_from      = bcftools_bcftoolsnorm__dna

    final_output    = vcf

    [[args]]
        dbdir   = "/ref/annovar/humandb"
        operations = "g,r,f,f,f,f,f,f,f,f,f,f,f,f"
        protocol = "refGene,genomicSuperDups,exac03,gnomad_exome,gnomad_genome,avsnp150,esp6500siv2_all,1000g2015aug_all,cosmic87_coding,cosmic87_noncoding,dbnsfp35a,cadd14gt10,nci60,clinvar_20180603"
        buildver = "hg38"

[utils_recodevcf__dna]
    module = Utils
    submodule = RecodeVCF
    docker_image = pipeline_tools

    input_from = annovar__dna

    final_output = recoded_vcf

[vcfmergers_vcfmerger__dna]
    module = VCFMergers
    submodule = VCFMerger
    docker_image = snpsift

    input_from = annovar__dna

    final_output = vcf

[vcfmergers_recodedvcfmerger__dna]
    module = VCFMergers
    submodule = RecodedVCFMerger
    docker_image = pipeline_tools

    input_from = utils_recodevcf__dna

    final_output = recoded_vcf

[qcreportmerger_rbind__dna]
    module          = QCReportMerger
    submodule       = Rbind
    docker_image    = qcparser

    final_output    = qc_report
