[Docker]

    [[qcparser]]
        image = davelabhub/qcparser:latest
        [[[qcparser]]]
            resource_type = qc_parser
            path = QCParser.py

    [[bcftools]]
        image = davelabhub/bcftools:1.9--ha228f0b_4
        [[[bcftools]]]
            resource_type = bcftools
            path = bcftools

    [[pipeline_tools]]
        image = davelabhub/pipeline-tools:latest
        [[[recode_vcf]]]
            resource_type = recode_vcf
            path = RecodeVCF.py
        [[[cat_recoded_vcf]]]
            resource_type = cat_recoded_vcf
            path = CatRecodedVCF.py

    [[snpsift]]
        image = davelabhub/snpsift:4.3.1t
        [[[snpsift]]]
            resource_type = snpsift
            path = SnpSift.jar

    [[gatk4]]
        image = broadinstitute/gatk:4.1.2.0
        [[[gatk4]]]
            resource_type   = gatk
            path            = gatk.jar
        [[[java]]]
            resource_type   = java
            path            = java

[Path]

    [[ref]]
        resource_type   = ref
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa*

    [[ref_idx]]
        resource_type   = ref_idx
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa.fai

    [[ref_dict]]
        resource_type   = ref_dict
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/gatk/GRCh38.p12.genome.plus.ERCC.dict

    [[annovar]]
        resource_type   = annovar
        path            = /ref/annovar/table_annovar.pl

    [[perl]]
        resource_type   = perl
        path            = /usr/bin/perl
