[Docker]

    [[deepvariant]]
        image = gcr.io/deepvariant-docker/deepvariant:0.8.0
        [[[deepvariant]]]
            resource_type   = deepvariant
            path            = /opt/deepvariant/bin/run_deepvariant

[Path]

    [[ref]]
        resource_type   = ref
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa*

    [[target_bed]]
        resource_type   = bed
        path            = ""
