[Docker]
    [[delly]]
        image = davelabhub/delly:0.8.3--h43566fd_0
        [[[delly]]]
            resource_type   = delly
            path            = delly

[Path]
    [[ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa*