[utils_bgzipbed__dna]
    module          = Utils
    submodule       = BGZipBED
    docker_image    = bgzip

[utils_indexbed__dna]
    module          = Utils
    submodule       = IndexBED
    docker_image    = tabix

    input_from      = utils_bgzipbed__dna

###### Strelka2
[strelka2__dna]
    module          = Strelka2
    submodule       = Strelka2
    docker_image    = strelka2

    input_from      = utils_bgzipbed__dna, utils_indexbed__dna

    final_output    = vcf_gz, vcf_tbi
