[Docker]

    [[bgzip]]
        image = quay.io/biocontainers/tabix:0.2.6--ha92aebf_0
        [[[bgzip]]]
            resource_type   = bgzip
            path            = bgzip

    [[tabix]]
        image = quay.io/biocontainers/tabix:0.2.6--ha92aebf_0
        [[[tabix]]]
            resource_type   = tabix
            path            = tabix

    [[strelka2]]
        image = quay.io/biocontainers/strelka:2.9.10--0
        [[[strelka2]]]
            resource_type   = strelka2
            path            = configureStrelkaGermlineWorkflow.py

[Path]

    [[ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa*

    [[target_bed]]
        resource_type   = bed
        path            = ""
