[mergernaseq_aggregaterawreadcounts__rna]
    module          = MergeRNAseq
    submodule       = AggregateRawReadCounts
    docker_image    = aggregate_raw_read_counts

    final_output    = expression_file

[mergernaseq_aggregatersemresults__rna]
    module          = MergeRNAseq
    submodule       = AggregateRSEMResults
    docker_image    = aggregate_rsem_results

    final_output    = expression_file

[utils_combineexpressionwithmetadata__rawcounts__rna]
    module          = Utils
    submodule       = CombineExpressionWithMetadata
    docker_image    = combine_exp_gene_name

    input_from      = mergernaseq_aggregaterawreadcounts__rna

    final_output    = annotated_expression_file

    [[args]]
        result_type = "rawcounts"

[utils_combineexpressionwithmetadata__rsem__rna]
    module          = Utils
    submodule       = CombineExpressionWithMetadata
    docker_image    = combine_exp_gene_name

    input_from      = mergernaseq_aggregatersemresults__rna

    final_output    = annotated_expression_file

    [[args]]
        result_type = "rsem"

[qcreportmerger_rbind__rna]
    module          = QCReportMerger
    submodule       = Rbind
    docker_image    = qcparser

    final_output    = qc_report
