[Docker]

    [[qcparser]]
        image = davelabhub/qcparser:latest
        [[[qcparser]]]
            resource_type   = qc_parser
            path            = QCParser.py

    [[aggregate_raw_read_counts]]
        image = davelabhub/aggregaterawreadcounts:v.20180710
        [[[read_counts]]]
            resource_type   = aggregate
            path            = aggregate_raw_read_counts_CLI.R

    [[aggregate_rsem_results]]
        image = davelabhub/aggregatersemresults:20180710
        [[[rsem_results]]]
            resource_type   = aggregate_rsem_results_script
            path            = aggregate_rsem_results_CLI.R

    [[combine_exp_gene_name]]
        image = davelabhub/combineexpressionwithgenemetadata:20180710
        [[[combine_exp_gene_name]]]
            resource_type   = combine_script
            path            = generate_expression_matrix_CLI.R

[Path]

    [[gtf]]
        resource_type   = gtf
        path            = s3://davelab-data/ref/human/hg38/gencode/v30/gencode.v30.chr_patch_hapl_scaff.annotation.plus.ERCC.gtf


