[mergernaseq_aggregatenormalizedcounts__rna]
    module          = MergeRNAseq
    submodule       = AggregateNormalizedCounts
    docker_image    = aggregate_normalized_gene_counts

    final_output    = aggregated_normalized_gene_counts, aggregated_normalized_gene_counts_long, sample_disease

[abcgcbplot__rna]
    module          = ABCGCBPlot
    docker_image    = abc_gcb_plot

    input_from      = mergernaseq_aggregatenormalizedcounts__rna

    final_output    = abc_gcb_plots
