[utils_consolidatesamplename__rna]
    module      = Utils
    submodule   = ConsolidateSampleName

[utils_getreadnames__spliced__rna]
    module          = Utils
    submodule       = GetReadNames
    docker_image    = bedsam

#    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    final_output    = read_names

    [[args]]
        spliced_reads = True

[gatk_filtersamreads__spliced__rna]
    module          = GATK
    submodule       = FilterSamReads
    docker_image    = gatk4

    input_from      = utils_getreadnames__spliced__rna

    final_output    = bam

    [[args]]
        gatk_version    = 4
        ref             = ref
        ref_dict        = ref_dict
        ref_idx         = ref_idx

[utils_getreadnames__splicedexoniccaptured__rna]
    module          = Utils
    submodule       = GetReadNames
    docker_image    = bedsam

    input_from      = gatk_filtersamreads__spliced__rna

    final_output    = read_names

    [[args]]
        bed         = abcgcbscore_target_exonic_bed

[gatk_filtersamreads__splicedexoniccaptured__rna]
    module          = GATK
    submodule       = FilterSamReads
    docker_image    = gatk4

    input_from      = utils_getreadnames__splicedexoniccaptured__rna, gatk_filtersamreads__spliced__rna

    final_output    = bam

    [[args]]
        gatk_version    = 4
        ref             = ref
        ref_dict        = ref_dict
        ref_idx         = ref_idx

[utils_getreadnames__splicedexonic__rna]
    module          = Utils
    submodule       = GetReadNames
    docker_image    = bedsam

    input_from      = gatk_filtersamreads__spliced__rna

    final_output    = read_names

    [[args]]
        bed         = abcgcbscore_exonic_bed

[gatk_filtersamreads__splicedexonic__rna]
    module          = GATK
    submodule       = FilterSamReads
    docker_image    = gatk4

    input_from      = utils_getreadnames__splicedexonic__rna, gatk_filtersamreads__spliced__rna

    final_output    = bam

    [[args]]
        gatk_version    = 4
        ref             = ref
        ref_dict        = ref_dict
        ref_idx         = ref_idx

[utils_getreadnames__originalexoniccaptured__rna]
    module          = Utils
    submodule       = GetReadNames
    docker_image    = bedsam

#    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    final_output    = read_names

    [[args]]
        bed         = abcgcbscore_target_exonic_bed

[gatk_filtersamreads__originalexoniccaptured__rna]
    module          = GATK
    submodule       = FilterSamReads
    docker_image    = gatk4

    input_from      = utils_getreadnames__originalexoniccaptured__rna

    final_output    = bam

    [[args]]
        gatk_version    = 4
        ref             = ref
        ref_dict        = ref_dict
        ref_idx         = ref_idx

[utils_getreadnames__originalexonic__rna]
    module          = Utils
    submodule       = GetReadNames
    docker_image    = bedsam

#    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    final_output    = read_names

    [[args]]
        bed         = abcgcbscore_exonic_bed

[gatk_filtersamreads__originalexonic__rna]
    module          = GATK
    submodule       = FilterSamReads
    docker_image    = gatk4

    input_from      = utils_getreadnames__originalexonic__rna

    final_output    = bam

    [[args]]
        gatk_version    = 4
        ref             = ref
        ref_dict        = ref_dict
        ref_idx         = ref_idx

[bedtools_coverage__original__rna]
    module          = Bedtools
    submodule       = Coverage
    docker_image    = bedsam

#    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    final_output    = read_counts

    [[args]]
        count_reads = True
        bed         = abcgcbscore_target_gene_bed

[abcgcbscore__original__rna]
    module          = ABCGCBScore
    docker_image    = abc_gcb_score

    input_from      = bedtools_coverage__original__rna

    final_output    = abc_gcb_score, normalized_gene_counts

    [[args]]
        ref         = abc_gcb_genes
        sample_type = original

[bedtools_coverage__originalexonicoverlap__rna]
    module          = Bedtools
    submodule       = Coverage
    docker_image    = bedsam

    input_from      = gatk_filtersamreads__originalexonic__rna

    final_output    = read_counts

    [[args]]
        count_reads = True
        bed         = abcgcbscore_target_gene_bed

[abcgcbscore__originalexonicoverlap__rna]
    module          = ABCGCBScore
    docker_image    = abc_gcb_score

    input_from      = bedtools_coverage__originalexonicoverlap__rna

    final_output    = abc_gcb_score, normalized_gene_counts

    [[args]]
        ref         = abc_gcb_genes
        sample_type = exonicoverlap

[bedtools_coverage__originalcapturedexonicoverlap__rna]
    module          = Bedtools
    submodule       = Coverage
    docker_image    = bedsam

    input_from      = gatk_filtersamreads__originalexoniccaptured__rna

    final_output    = read_counts

    [[args]]
        count_reads = True
        bed         = abcgcbscore_target_gene_bed

[abcgcbscore__originalcapturedexonicoverlap__rna]
    module          = ABCGCBScore
    docker_image    = abc_gcb_score

    input_from      = bedtools_coverage__originalcapturedexonicoverlap__rna

    final_output    = abc_gcb_score, normalized_gene_counts

    [[args]]
        ref         = abc_gcb_genes
        sample_type = capturedexonicoverlap

[bedtools_coverage__spliced__rna]
    module          = Bedtools
    submodule       = Coverage
    docker_image    = bedsam

    input_from      = gatk_filtersamreads__spliced__rna

    final_output    = read_counts

    [[args]]
        count_reads = True
        bed         = abcgcbscore_target_gene_bed

[abcgcbscore__spliced__rna]
    module          = ABCGCBScore
    docker_image    = abc_gcb_score

    input_from      = bedtools_coverage__spliced__rna

    final_output    = abc_gcb_score, normalized_gene_counts

    [[args]]
        ref         = abc_gcb_genes
        sample_type = spliced

[bedtools_coverage__splicedexonicoverlap__rna]
    module          = Bedtools
    submodule       = Coverage
    docker_image    = bedsam

    input_from      = gatk_filtersamreads__splicedexonic__rna

    final_output    = read_counts

    [[args]]
        count_reads = True
        bed         = abcgcbscore_target_gene_bed

[abcgcbscore__splicedexonicoverlap__rna]
    module          = ABCGCBScore
    docker_image    = abc_gcb_score

    input_from      = bedtools_coverage__splicedexonicoverlap__rna

    final_output    = abc_gcb_score, normalized_gene_counts

    [[args]]
        ref         = abc_gcb_genes
        sample_type = spliced_exonicoverlap

[bedtools_coverage__splicedcapturedexonicoverlap__rna]
    module          = Bedtools
    submodule       = Coverage
    docker_image    = bedsam

    input_from      = gatk_filtersamreads__splicedexoniccaptured__rna

    final_output    = read_counts

    [[args]]
        count_reads = True
        bed         = abcgcbscore_target_gene_bed

[abcgcbscore__splicedcapturedexonicoverlap__rna]
    module          = ABCGCBScore
    docker_image    = abc_gcb_score

    input_from      = bedtools_coverage__splicedcapturedexonicoverlap__rna

    final_output    = abc_gcb_score, normalized_gene_counts

    [[args]]
        ref         = abc_gcb_genes
        sample_type = spliced_capturedexonicoverlap

[qcparser_abcgcbscore__original__rna]
    module          = QCParser
    submodule       = ABCGCBScore
    docker_image    = qcparser

    input_from      = abcgcbscore__original__rna, utils_consolidatesamplename__rna

    [[args]]
        note = "rna original abc/gcb score"

[qcparser_abcgcbscore__originalexonicoverlap__rna]
    module          = QCParser
    submodule       = ABCGCBScore
    docker_image    = qcparser

    input_from      = abcgcbscore__originalexonicoverlap__rna, utils_consolidatesamplename__rna

    [[args]]
        note = "rna exonic overlap abc/gcb score"

[qcparser_abcgcbscore__originalcapturedexonicoverlap__rna]
    module          = QCParser
    submodule       = ABCGCBScore
    docker_image    = qcparser

    input_from      = abcgcbscore__originalcapturedexonicoverlap__rna, utils_consolidatesamplename__rna

    [[args]]
        note = "rna captured exonic overlap abc/gcb score"

[qcparser_abcgcbscore__spliced__rna]
    module          = QCParser
    submodule       = ABCGCBScore
    docker_image    = qcparser

    input_from      = abcgcbscore__spliced__rna, utils_consolidatesamplename__rna

    [[args]]
        note = "rna spliced abc/gcb score"

[qcparser_abcgcbscore__splicedcapturedexonicoverlap__rna]
    module          = QCParser
    submodule       = ABCGCBScore
    docker_image    = qcparser

    input_from      = abcgcbscore__splicedcapturedexonicoverlap__rna, utils_consolidatesamplename__rna

    [[args]]
        note = "rna spliced captured exonic overlap abc/gcb score"

[qcparser_abcgcbscore__splicedexonicoverlap__rna]
    module          = QCParser
    submodule       = ABCGCBScore
    docker_image    = qcparser

    input_from      = abcgcbscore__splicedexonicoverlap__rna, utils_consolidatesamplename__rna

    [[args]]
        note = "rna spliced exonic overlap abc/gcb score"

[qcreportmerger_cbind__rna]
    module          = QCReportMerger
    submodule       = Cbind
    docker_image    = qcparser

    input_from      = qcparser_abcgcbscore__original__rna, qcparser_abcgcbscore__originalexonicoverlap__rna,qcparser_abcgcbscore__originalcapturedexonicoverlap__rna, qcparser_abcgcbscore__spliced__rna, qcparser_abcgcbscore__splicedcapturedexonicoverlap__rna,qcparser_abcgcbscore__splicedexonicoverlap__rna

    final_report    = qc_report
