[utils_getreadnames__spliced__rna]
    module          = Utils
    submodule       = GetReadNames
    docker_image    = bedsam

#    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    final_output    = read_names

    [[args]]
        spliced_reads = True

[gatk_filtersamreads__spliced__rna]
    module          = GATK
    submodule       = FilterSamReads
    docker_image    = gatk4

    input_from      = utils_getreadnames__spliced__rna

    final_output    = bam

    [[args]]
        gatk_version    = 4
        ref             = ref
        ref_dict        = ref_dict
        ref_idx         = ref_idx

[utils_getreadnames__spliced_exonic_captured__rna]
    module          = Utils
    submodule       = GetReadNames
    docker_image    = bedsam

    input_from      = gatk_filtersamreads__spliced__rna

    final_output    = read_names

    [[args]]
        bed         = abcgcbscore_target_exonic_bed

[gatk_filtersamreads__spliced_exonic_captured__rna]
    module          = GATK
    submodule       = FilterSamReads
    docker_image    = gatk4

    input_from      = utils_getreadnames__spliced_exonic_captured__rna, gatk_filtersamreads__spliced__rna

    final_output    = bam

    [[args]]
        gatk_version    = 4
        ref             = ref
        ref_dict        = ref_dict
        ref_idx         = ref_idx

[utils_getreadnames__spliced_exonic__rna]
    module          = Utils
    submodule       = GetReadNames
    docker_image    = bedsam

    input_from      = gatk_filtersamreads__spliced__rna

    final_output    = read_names

    [[args]]
        bed         = abcgcbscore_exonic_bed

[gatk_filtersamreads__spliced_exonic__rna]
    module          = GATK
    submodule       = FilterSamReads
    docker_image    = gatk4

    input_from      = utils_getreadnames__spliced_exonic__rna, gatk_filtersamreads__spliced__rna

    final_output    = bam

    [[args]]
        gatk_version    = 4
        ref             = ref
        ref_dict        = ref_dict
        ref_idx         = ref_idx

[utils_getreadnames__exonic_captured__rna]
    module          = Utils
    submodule       = GetReadNames
    docker_image    = bedsam

#    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    final_output    = read_names

    [[args]]
        bed         = abcgcbscore_target_exonic_bed

[gatk_filtersamreads__exonic_captured__rna]
    module          = GATK
    submodule       = FilterSamReads
    docker_image    = gatk4

    input_from      = utils_getreadnames__exonic_captured__rna

    final_output    = bam

    [[args]]
        gatk_version    = 4
        ref             = ref
        ref_dict        = ref_dict
        ref_idx         = ref_idx

[utils_getreadnames__exonic__rna]
    module          = Utils
    submodule       = GetReadNames
    docker_image    = bedsam

#    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    final_output    = read_names

    [[args]]
        bed         = abcgcbscore_exonic_bed

[gatk_filtersamreads__exonic__rna]
    module          = GATK
    submodule       = FilterSamReads
    docker_image    = gatk4

    input_from      = utils_getreadnames__exonic__rna

    final_output    = bam

    [[args]]
        gatk_version    = 4
        ref             = ref
        ref_dict        = ref_dict
        ref_idx         = ref_idx

[bedtools_coverage__original__rna]
    module          = Bedtools
    submodule       = Coverage
    docker_image    = bedsam

#    input_from      = picard_markduplicates__rna, samtools_index__picard_markduplicates__rna

    final_output    = read_counts

    [[args]]
        count_reads = True
        bed         = abcgcbscore_target_gene_bed

[abcgcbscore__original__rna]
    module          = ABCGCBScore
    docker_image    = abc_gcb_score

    input_from      = bedtools_coverage__original__rna

    final_output    = abc_gcb_score, normalized_gene_counts

    [[args]]
        ref         = abc_gcb_genes
        sample_type = original

[bedtools_coverage__exonicoverlap__rna]
    module          = Bedtools
    submodule       = Coverage
    docker_image    = bedsam

    input_from      = gatk_filtersamreads__exonic__rna

    final_output    = read_counts

    [[args]]
        count_reads = True
        bed         = abcgcbscore_target_gene_bed

[abcgcbscore__exonicoverlap__rna]
    module          = ABCGCBScore
    docker_image    = abc_gcb_score

    input_from      = bedtools_coverage__exonicoverlap__rna

    final_output    = abc_gcb_score, normalized_gene_counts

    [[args]]
        ref         = abc_gcb_genes
        sample_type = exonicoverlap

[bedtools_coverage__capturedexonicoverlap__rna]
    module          = Bedtools
    submodule       = Coverage
    docker_image    = bedsam

    input_from      = gatk_filtersamreads__exonic_captured__rna

    final_output    = read_counts

    [[args]]
        count_reads = True
        bed         = abcgcbscore_target_gene_bed

[abcgcbscore__capturedexonicoverlap__rna]
    module          = ABCGCBScore
    docker_image    = abc_gcb_score

    input_from      = bedtools_coverage__capturedexonicoverlap__rna

    final_output    = abc_gcb_score, normalized_gene_counts

    [[args]]
        ref         = abc_gcb_genes
        sample_type = capturedexonicoverlap

[bedtools_coverage__spliced__rna]
    module          = Bedtools
    submodule       = Coverage
    docker_image    = bedsam

    input_from      = gatk_filtersamreads__spliced__rna

    final_output    = read_counts

    [[args]]
        count_reads = True
        bed         = abcgcbscore_target_gene_bed

[abcgcbscore__spliced__rna]
    module          = ABCGCBScore
    docker_image    = abc_gcb_score

    input_from      = bedtools_coverage__spliced__rna

    final_output    = abc_gcb_score, normalized_gene_counts

    [[args]]
        ref         = abc_gcb_genes
        sample_type = spliced

[bedtools_coverage__spliced_exonicoverlap__rna]
    module          = Bedtools
    submodule       = Coverage
    docker_image    = bedsam

    input_from      = gatk_filtersamreads__spliced_exonic__rna

    final_output    = read_counts

    [[args]]
        count_reads = True
        bed         = abcgcbscore_target_gene_bed

[abcgcbscore__spliced_exonicoverlap__rna]
    module          = ABCGCBScore
    docker_image    = abc_gcb_score

    input_from      = bedtools_coverage__spliced_exonicoverlap__rna

    final_output    = abc_gcb_score, normalized_gene_counts

    [[args]]
        ref         = abc_gcb_genes
        sample_type = spliced_exonicoverlap

[bedtools_coverage__spliced_capturedexonicoverlap__rna]
    module          = Bedtools
    submodule       = Coverage
    docker_image    = bedsam

    input_from      = gatk_filtersamreads__spliced_exonic_captured__rna

    final_output    = read_counts

    [[args]]
        count_reads = True
        bed         = abcgcbscore_target_gene_bed

[abcgcbscore__spliced_capturedexonicoverlap__rna]
    module          = ABCGCBScore
    docker_image    = abc_gcb_score

    input_from      = bedtools_coverage__spliced_capturedexonicoverlap__rna

    final_output    = abc_gcb_score, normalized_gene_counts

    [[args]]
        ref         = abc_gcb_genes
        sample_type = spliced_capturedexonicoverlap
