[Docker]

    [[bedsam]]
        image = davelabhub/bedsam:v20200130
        [[[bedtools]]]
            resource_type = bedtools
            path          = bedtools
        [[[samtools]]]
            resource_type = samtools
            path          = samtools

    [[abc_gcb_score]]
        image = davelabhub/abccbscore:v20200131
        [[[abc_gcb_score]]]
            resource_type = abc_gcb_score_script
            path          = ABC_GCB_Score_From_Gene_Counts.Rscript

    [[gatk4]]
        image = broadinstitute/gatk:4.1.2.0
        [[[gatk4]]]
            resource_type   = gatk
            path            = gatk.jar
        [[[java]]]
            resource_type   = java
            path            = java

    [[qcparser]]
        image = davelabhub/qcparser:latest
        [[[qcparser]]]
            resource_type   = qc_parser
            path            = QCParser.py

[Path]

    [[abc_gcb_score_script]]
        resource_type   = abc_gcb_score_script
        path            = gs://davelab_data/tools/ABC_GCB_Score_From_Gene_Counts.Rscript

    [[abcgcbscore_gene_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/abcgcbscore/gencode.v30.annotation.gene_coordinates.captured.bed

    [[abcgcbscore_target_gene_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/abcgcbscore/gencode.v30.annotation.gene_coordinates.captured.sorted.bed

    [[abcgcbscore_exonic_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/abcgcbscore/gencode.v30.annotation.exon_coordinates.bed

    [[abcgcbscore_target_exonic_bed]]
        resource_type   = bed
        path            = gs://davelab_data/ref/human/hg38/abcgcbscore/gencode.v30.annotation.exon_coordinates.overlap_capture.bed

    [[abc_gcb_genes]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/abcgcbscore/abc_gcb_genes.longer.txt

    [[ref]]
        resource_type   = ref
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa*

    [[ref_idx]]
        resource_type   = ref_idx
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/GRCh38.p12.genome.plus.ERCC.fa.fai

    [[ref_dict]]
        resource_type   = ref_dict
        path            = gs://davelab_data/ref/human/hg38/gencode/v30/gatk/GRCh38.p12.genome.plus.ERCC.dict
